@layer components {
  /*
  ***************************************
  Accordion
  ***************************************
  */
  .c-collapse-wrap {
    @apply flex 
    flex-col 
    w-full 
    gap-2;
  }

  .c-collapse-wrap.join {
    @apply gap-0;
  }

  .c-collapse-wrap .c-collapse-item {
    @apply w-full 
    transition-all 
    duration-300 
    ease-in-out 
    grid 
    grid-rows-[max-content_0fr]
    flex-col 
    relative 
    overflow-hidden
    rounded-[var(--collapse-radius)]
    border-1 
    border-solid 
    border-[var(--tertiary-300-color)] 
    bg-[var(--surface-color)];
  }

  .c-collapse-wrap.join .c-collapse-item {
    @apply rounded-none 
    -mt-px;
  }


  .c-collapse-wrap.highlight .c-collapse-item>input:is([type=checkbox], [type=radio]):checked~.c-collapse-title {
    @apply bg-[var(--primary-200-color)];
  }

  .c-collapse-wrap.highlight .c-collapse-item>input:is([type=checkbox], [type=radio]):checked~.c-collapse-content {
    @apply bg-[var(--primary-200-color)];
  }


  .c-collapse-wrap .c-collapse-item>input:is([type=checkbox], [type=radio]) {
    @apply appearance-none 
    opacity-0 
    z-1 
    row-start-1 
    col-start-1 
    w-full 
    transition-colors 
    duration-200 
    ease-out 
    cursor-pointer 
    min-h-[var(--collapse-min-height)] 
    p-[var(--collapse-padding)] 
    pr-[var(--collapse-padding-right)];
  }

  .c-collapse-wrap .c-collapse-item .c-collapse-title {
    @apply relative 
    row-start-1 
    col-start-1 
    transition-colors 
    duration-200 
    ease-out
    font-semibold 
    w-full 
    min-h-[var(--collapse-min-height)] 
    p-[var(--collapse-padding)] 
    pr-[var(--collapse-padding-right)] 
    text-[length:var(--collapse-title-font-size)] 
    text-[var(--text-900-color)];
  }

  .c-collapse-wrap .c-collapse-item.collapse-arrow .c-collapse-title::after {
    @apply content-['\e313'] 
    font-[Material_Symbols_Rounded] 
    block 
    absolute 
    right-5 
    top-1/2 
    -translate-y-1/2 
    text-[2rem] 
    text-[var(--text-900-color)] 
    transition-all 
    duration-200 
    ease-in-out;
  }

  .c-collapse-item.collapse-arrow>input:is([type=checkbox], [type=radio]):checked~.c-collapse-title::after {
    @apply content-['\e316'];
  }

  .c-collapse-wrap .c-collapse-item.collapse-plus .c-collapse-title::after {
    @apply block 
    absolute 
    right-5 
    top-1/2 
    -translate-y-1/2 
    text-[2rem]
    content-['\e145'] 
    font-[Material_Symbols_Rounded] 
    text-[var(--text-900-color)] 
    transition-all 
    duration-200 
    ease-in-out;
  }

  .c-collapse-item.collapse-plus>input:is([type=checkbox], [type=radio]):checked~.c-collapse-title::after {
    @apply content-['\e15b'];
  }

  .c-collapse-wrap .c-collapse-item .c-collapse-content {
    @apply relative 
    invisible 
    h-0 
    cursor-default 
    transition-all 
    duration-200 
    ease-out
    pl-[var(--collapse-content-padding-left)] 
    pr-[var(--collapse-content-padding-right)]
    text-[length:var(--collapse-content-font-size)] 
    text-[var(--text-900-color)];
  }

  .c-collapse-item>input:is([type=checkbox], [type=radio]):checked~.c-collapse-content {
    @apply transition-all 
    duration-200 
    ease-out 
    visible 
    min-h-fit 
    pb-[var(--collapse-content-padding-bottom)];
  }
}
