@layer components {
  /*
  ***************************************
  Accordion
  ***************************************
  */
  .cdf-collapse-wrap {
    gap: var(--collapse-gap);
    @apply flex flex-col w-full;
  }

  .cdf-collapse-wrap.join {
    @apply gap-0;
  }

  .cdf-collapse-wrap .cdf-collapse-item {
    border-radius: var(--collapse-radius);
    border: .1rem solid var(--tertiary-300-color);
    background-color: var(--surface-color);
    @apply w-full transition-all duration-300 ease-in-out grid grid-rows-[max-content_0fr]
          flex-col relative overflow-hidden;
  }

  .cdf-collapse-wrap.join .cdf-collapse-item {
    @apply rounded-none -mt-px;
  }


  .cdf-collapse-wrap.highlight .cdf-collapse-item>input:is([type=checkbox], [type=radio]):checked~.cdf-collapse-title {
    background-color: var(--primary-200-color);
  }

  .cdf-collapse-wrap.highlight .cdf-collapse-item>input:is([type=checkbox], [type=radio]):checked~.cdf-collapse-content {
    background-color: var(--primary-200-color);
  }


  .cdf-collapse-wrap .cdf-collapse-item>input:is([type=checkbox], [type=radio]) {
    min-height: var(--collapse-min-height);
    padding: var(--collapse-padding);
    padding-right: var(--collapse-padding-right);
    @apply appearance-none opacity-0 z-1 row-start-1 col-start-1 w-full 
           transition-colors duration-200 ease-out cursor-pointer;
  }

  .cdf-collapse-wrap .cdf-collapse-item .cdf-collapse-title {
    min-height: var(--collapse-min-height);
    padding: var(--collapse-padding);
    padding-right: var(--collapse-padding-right);
    font-size: var(--collapse-title-font-size);
    color: var(--text-900-color);
    @apply relative row-start-1 col-start-1 transition-colors duration-200 ease-out
           font-semibold w-full;
  }

  .cdf-collapse-wrap .cdf-collapse-item.collapse-arrow .cdf-collapse-title::after {
    content: '\e313';
    font-family: 'Material Symbols Rounded';
    color: var(--text-900-color);
    transition: all .2s cubic-bezier(0.4, 0, 0.23, 1);
    @apply block absolute right-5 top-1/2 -translate-y-1/2 text-[2rem] ;
  }

  .cdf-collapse-item.collapse-arrow>input:is([type=checkbox], [type=radio]):checked~.cdf-collapse-title::after {
    content: '\e316';
  }

  .cdf-collapse-wrap .cdf-collapse-item.collapse-plus .cdf-collapse-title::after {
    content: '\e145';
    font-family: 'Material Symbols Rounded';
    color: var(--text-900-color);
    transition: all .2s cubic-bezier(0.4, 0, 0.23, 1);
    @apply block absolute right-5 top-1/2 -translate-y-1/2 text-[2rem];
  }

  .cdf-collapse-item.collapse-plus>input:is([type=checkbox], [type=radio]):checked~.cdf-collapse-title::after {
    content: '\e15b';
  }

  .cdf-collapse-wrap .cdf-collapse-item .cdf-collapse-content {
    padding-left: var(--collapse-content-padding-left);
    padding-right: var(--collapse-content-padding-right);
    color: var(--text-900-color);
    font-size: var(--collapse-content-font-size);
    @apply relative invisible h-0 cursor-default transition-all duration-200 ease-out;
  }

  .cdf-collapse-item>input:is([type=checkbox], [type=radio]):checked~.cdf-collapse-content {
    padding-bottom: var(--collapse-content-padding-bottom);

    @apply transition-all duration-200 ease-out visible min-h-fit;
  }
}
