@layer components {
	/*
	*************************************
	Button Size
	*************************************
	*/
	.c-btn.c-btn--xl {
		@apply font-semibold h-[var(--btn-height-xl)] 
		rounded-[var(--btn-radius-xl)]
		px-[var(--btn-padding-inline-xl)] 
		py-[var(--btn-padding-block-xl)] 
		text-[length:var(--btn-font-size-xl)];
	} 
	.c-btn.c-btn--xl:not(:has(i)) {
		padding-inline: calc(var(--btn-padding-inline-xl) + 1rem);
	}
	.c-btn.c-btn--xl i {
		font-variation-settings: 'FILL'0,
			'wght'400,
			'GRAD'0,
			'opsz'24;
		@apply !text-[length:var(--btn-icon-size-xl)];
	}
	.c-btn.c-btn--lg {
		@apply h-[var(--btn-height-lg)] 
		rounded-[var(--btn-radius-lg)]
		px-[var(--btn-padding-inline-lg)] 
		py-[var(--btn-padding-block-lg)] 
		text-[length:var(--btn-font-size-lg)];
	}
	.c-btn.c-btn--lg:not(:has(.c-btn__icon,i)) {
		padding-inline: calc(var(--btn-padding-inline-lg) + 1rem);
	}
	.c-btn.c-btn--lg i {
		font-variation-settings: 'FILL'0,
			'wght'400,
			'GRAD'0,
			'opsz'24;
		@apply !text-[length:var(--btn-icon-size-lg)];
	}
	.c-btn.c-btn--md {
		@apply h-[var(--btn-height-md)] 
		rounded-[var(--btn-radius-md)]
		px-[var(--btn-padding-inline-md)] 
		py-[var(--btn-padding-block-md)] 
		text-[length:var(--btn-font-size-md)];
	}
	.c-btn.c-btn--md:not(:has(.c-btn__icon,i)) {
		padding-inline: calc(var(--btn-padding-inline-md) + 1rem);
	}
	.c-btn.c-btn--md .c-btn__icon,
	.c-btn.c-btn--md i {
		font-variation-settings: 'FILL'0,
			'wght'400,
			'GRAD'0,
			'opsz'24;
		@apply !text-[length:var(--btn-icon-size-md)];
	}
	.c-btn.c-btn--sm {
		@apply h-[var(--btn-height-sm)] 
		rounded-[var(--btn-radius-sm)]
		px-[var(--btn-padding-inline-sm)] 
		py-[var(--btn-padding-block-sm)] 
		text-[length:var(--btn-font-size-sm)];
	}
	.c-btn.c-btn--sm:not(:has(.c-btn__icon,i)) {
		padding-inline: calc(var(--btn-padding-inline-sm) + 1rem);
	}
	.c-btn.c-btn--sm .c-btn__icon {
		font-variation-settings: 'FILL'0,
			'wght'400,
			'GRAD'0,
			'opsz'24;
		@apply !text-[length:var(--btn-icon-size-sm)];
	}
	.c-btn.c-btn--xs {
		@apply h-[var(--btn-height-xs)] 
		rounded-[var(--btn-radius-xs)]
		px-[var(--btn-padding-inline-xs)] 
		py-[var(--btn-padding-block-xs)] 
		text-[length:var(--btn-font-size-xs)];
	}
	.c-btn.c-btn--xs:not(:has(.c-btn__icon,i)) {
		padding-inline: calc(var(--btn-padding-inline-xs) + 1rem);
	}
	.c-btn.c-btn--xs .c-btn__icon {
		font-variation-settings: 'FILL'0,
			'wght'400,
			'GRAD'0,
			'opsz'24;
		@apply !text-[length:var(--btn-icon-size-xs)];
	}
	.c-btn.c-btn--xl:has(.c-btn__icon):not(:has(.c-btn__text)) {
		@apply p-0 
		w-[var(--btn-not-txt-width-xl)];
	}
	.c-btn.c-btn--xl:has(.c-btn__icon):not(:has(.c-btn__text)) .c-btn__icon {
		font-variation-settings: 'FILL'0,
			'wght'300,
			'GRAD'0,
			'opsz'24;
		@apply !text-[length:var(--btn-not-txt-icon-size-xl)];
	}
	.c-btn.c-btn--lg:has(.c-btn__icon):not(:has(.c-btn__text)) {
		@apply p-0 
		w-[var(--btn-not-txt-width-lg)];
	}
	.c-btn.c-btn--lg:has(.c-btn__icon):not(:has(.c-btn__text)) .c-btn__icon {
		font-variation-settings: 'FILL'0,
			'wght'300,
			'GRAD'0,
			'opsz'24;
		@apply !text-[length:var(--btn-not-txt-icon-size-lg)];
	}
	.c-btn.c-btn--md:has(.c-btn__icon):not(:has(.c-btn__text)) {
		@apply p-0 
		w-[var(--btn-not-txt-width-md)];
	}
	.c-btn.c-btn--md:has(.c-btn__icon):not(:has(.c-btn__text)) .c-btn__icon {
		font-variation-settings: 'FILL'0,
			'wght'300,
			'GRAD'0,
			'opsz'24;
		@apply !text-[length:var(--btn-not-txt-icon-size-md)];
	}
	.c-btn.c-btn--sm:has(.c-btn__icon):not(:has(.c-btn__text)) {
		@apply p-0 
		w-[var(--btn-not-txt-width-sm)];
	}
	.c-btn.c-btn--sm:has(.c-btn__icon):not(:has(.c-btn__text)) .c-btn__icon {
		font-variation-settings: 'FILL'0,
			'wght'300,
			'GRAD'0,
			'opsz'24;
		@apply !text-[length:var(--btn-not-txt-icon-size-sm)];
	}
	.c-btn.c-btn--xs:has(.c-btn__icon):not(:has(.c-btn__text)) {
		@apply p-0 
		w-[var(--btn-not-txt-width-xs)];
	}
	.c-btn.c-btn--xs:has(.c-btn__icon):not(:has(.c-btn__text)) .c-btn__icon {
		font-variation-settings: 'FILL'0,
			'wght'300,
			'GRAD'0,
			'opsz'24;
		@apply !text-[length:var(--btn-not-txt-icon-size-xs)];
	}

	/*
	*************************************
	button
	*************************************
	*/
	.c-btn {
		@apply relative 
		inline-flex 
		items-center 
		justify-center 
		gap-[.6rem] 
		cursor-pointer 
		no-underline 
		leading-[1em] 
		transition-all 
		duration-200
		whitespace-nowrap 
		border-1 
		border-solid 
		border-transparent 
		font-semibold 
		w-max
		rounded-[var(--btn-radius-md)] 
		bg-[var(--primary-700-color)] 
		text-white
		h-[var(--btn-height-md)] 
		px-[var(--btn-padding-inline-md)] 
		py-[var(--btn-padding-block-md)] 
		text-[length:var(--btn-font-size-md)];
	}
	.c-btn .c-btn__icon,
	.c-btn i {
		font-variation-settings: 'FILL'0,
			'wght'400,
			'GRAD'0,
			'opsz'24;
		@apply !text-[length:var(--btn-icon-size-md)];
	}
	.c-btn:has(.c-btn__icon):not(:has(.c-btn__text)) {
		@apply p-0 
		w-[var(--btn-not-txt-width-md)];
	}
	.c-btn:has(.c-btn__icon):not(:has(.c-btn__text)) .c-btn__icon {
		font-variation-settings: 'FILL'0,
			'wght'300,
			'GRAD'0,
			'opsz'24;
		@apply !text-[length:var(--btn-not-txt-icon-size-md)];
	}
	.c-btn.c-btn--full {
		@apply w-full;
	}
	.c-btn .c-btn__text {
		@apply leading-[1em] text-white;
	}
	.c-btn:hover,
	.c-btn:focus {
		@apply bg-[var(--primary-800-color)];
	}
	.c-btn:disabled,
	.c-btn:disabled:hover,
	.c-btn:disabled:focus {
		@apply cursor-not-allowed 
		text-white
		bg-[var(--tertiary-300-color)];
	}
	.c-btn:disabled .txt,
	.c-btn:disabled:hover .txt,
	.c-btn:disabled:focus .txt {
		@apply text-white;
	}
	.c-btn.c-btn--outline {
		@apply bg-transparent 
		border-1 
		border-solid 
		border-[var(--primary-500-color)] 
		text-[var(--primary-700-color)];
	}
	.c-btn.c-btn--outline .c-btn__text {
		@apply text-[var(--primary-700-color)];
	}
	.c-btn.c-btn--outline:hover,
	.c-btn.c-btn--outline:focus {
		background-color: var(--primary-100-color);
		border: 1px solid var(--primary-600-color);
		color: var(--primary-800-color);
		@apply bg-[var(--primary-100-color)] 
		border-1 
		border-solid 
		border-[var(--primary-600-color)] 
		text-[var(--primary-800-color)];
	}
	.c-btn.c-btn--outline:hover .c-btn__text,
	.c-btn.c-btn--outline:focus .c-btn__text {
		@apply text-[length:var(--primary-800-color)];
	}
	.c-btn.c-btn--outline:disabled,
	.c-btn.c-btn--outline:disabled:hover,
	.c-btn.c-btn--outline:disabled:focus {
		@apply cursor-not-allowed
		bg-[var(--surface-color)]
		border-1
		border-solid
		border-[var(--tertiary-300-color)]
		text-[var(--tertiary-400-color)];
	}
	.c-btn.c-btn--outline:disabled .c-btn__text,
	.c-btn.c-btn--outline:disabled:hover .c-btn__text,
	.c-btn.c-btn--outline:disabled:focus .c-btn__text {
		@apply text-[var(--tertiary-400-color)];
	}
	.c-btn.c-btn--text {
		@apply border-1 
		border-solid 
		border-transparent 
		bg-transparent 
		font-semibold
		text-[var(--primary-700-color)];
	}
	.c-btn.c-btn--text .c-btn__text {
		@apply text-[var(--primary-700-color)];
	}
	.c-btn.c-btn--text:hover,
	.c-btn.c-btn--text:focus {
		@apply bg-[var(--primary-50-color)] 
		text-[var(--primary-800-color)];
	}
	.c-btn.c-btn--text:hover .c-btn__text,
	.c-btn.c-btn--text:focus .c-btn__text {
		@apply text-[var(--primary-800-color)];
	}
	.c-btn.c-btn--text:disabled,
	.c-btn.c-btn--text:disabled:hover,
	.c-btn.c-btn--text:disabled:focus {
		@apply bg-transparent 
		cursor-not-allowed
		text-[var(--tertiary-400-color)];
	}
	.c-btn.c-btn--text:disabled .c-btn__text,
	.c-btn.c-btn--text:disabled:hover .c-btn__text,
	.c-btn.c-btn--text:disabled:focus .c-btn__text {
		@apply text-[var(--tertiary-400-color)];
	}
	.c-btn.c-btn--warning {
		@apply bg-[var(--warning-500-color)]
		text-white
		border-1
		border-solid
		border-[var(--warning-500-color)];
	}
	.c-btn.c-btn--warning .c-btn__text {
		@apply text-white;
	}
	.c-btn.c-btn--warning:hover,
	.c-btn.c-btn--warning:focus {
		@apply bg-[var(--warning-600-color)]
		text-white;
	}
	.c-btn.c-btn--warning:hover .c-btn__text,
	.c-btn.c-btn--warning:focus .c-btn__text {
		@apply text-white;
	}
	.c-btn.c-btn--warning:disabled {
		@apply bg-[var(--tertiary-300-color)]
		text-white;
	}
	.c-btn.c-btn--warning:disabled .c-btn__text {
		@apply text-white;
	}
	.c-btn.c-btn--outline.c-btn--warning {
		@apply border-1 
		border-solid
		border-[var(--warning-500-color)]
		bg-white
		text-[var(--warning-600-color)];
	}
	.c-btn.c-btn--outline.c-btn--warning .c-btn__text {
		@apply text-[var(--warning-600-color)];
	}
	.c-btn.c-btn--outline.c-btn--warning:hover,
	.c-btn.c-btn--outline.c-btn--warning:focus {
		@apply bg-[var(--warning-50-color)]
		border-1
		border-solid
		border-[var(--warning-500-color)]
		text-[var(--warning-600-color)];
	}
	.c-btn.c-btn--outline.c-btn--warning:hover .c-btn__text,
	.c-btn.c-btn--outline.c-btn--warning:focus .c-btn__text {
		@apply text-[var(--warning-600-color)];
	}
	.c-btn.c-btn--outline.c-btn--warning:disabled {
		@apply cursor-not-allowed
		bg-white
		border-1
		border-solid
		border-[var(--tertiary-300-color)]
		text-[var(--tertiary-400-color)];
	}
	.c-btn.c-btn--outline.c-btn--warning:disabled .c-btn__text {
		@apply text-[var(--tertiary-400-color)];
	}
	.c-btn.c-btn--text.c-btn--warning {
		@apply border-0 
		bg-transparent 
		font-semibold
		text-[var(--warning-500-color)];
	}
	.c-btn.c-btn--text.c-btn--warning .c-btn__text {
		@apply text-[var(--warning-500-color)];
	}
	.c-btn.c-btn--text.c-btn--warning:hover,
	.c-btn.c-btn--text.c-btn--warning:focus {
		@apply bg-[var(--warning-50-color)]
		text-[var(--warning-600-color)];
	}
	.c-btn.c-btn--text.c-btn--warning:hover .c-btn__text,
	.c-btn.c-btn--text.c-btn--warning:focus .c-btn__text {
		@apply text-[var(--warning-600-color)];
	}
	.c-btn.c-btn--text.c-btn--warning:disabled {
		@apply bg-transparent 
		cursor-not-allowed
		text-[var(--tertiary-400-color)];
	}
	.c-btn.c-btn--text.c-btn--warning:disabled .c-btn__text {
		@apply text-[var(--tertiary-400-color)];
	}
	.c-btn.c-btn--white {
		@apply bg-white
		text-[var(--text-700-color)];
	}
	.c-btn.c-btn--white .c-btn__text {
		@apply text-[var(--text-700-color)];
	}
	.c-btn.c-btn--white:hover,
	.c-btn.c-btn--white:focus {
		@apply bg-[var(--text-50-color)]
		text-[var(--text-800-color)];
	}
	.c-btn.c-btn--white:hover .c-btn__text,
	.c-btn.c-btn--white:focus .c-btn__text {
		@apply text-[var(--text-800-color)];
	}
	.c-btn.c-btn--white:disabled {
		@apply cursor-not-allowed
		bg-[var(--text-700-color)]
		text-[var(--text-500-color)];
	}
	.c-btn.c-btn--white:disabled .c-btn__text,
	.c-btn.white:disabled i {
		@apply text-[var(--text-500-color)];
	}
	.c-btn.c-btn--outline.c-btn--white {
		@apply bg-transparent
		border-1 
		border-solid
		border-[var(--text-200-color)]
		text-[var(--text-100-color)];
	}
	.c-btn.c-btn--outline.c-btn--white .c-btn__text,
	.c-btn.c-btn--outline.c-btn--white .c-btn__icon {
		@apply text-[var(--text-100-color)];
	}
	.c-btn.c-btn--outline.c-btn--white:hover,
	.c-btn.c-btn--outline.c-btn--white:focus {
		@apply bg-transparent
		border-1
		border-solid
		border-white
		text-white;
	}
	.c-btn.c-btn--outline.c-btn--white:hover .c-btn__text,
	.c-btn.c-btn--outline.c-btn--white:focus .c-btn__text {
		@apply text-white;
	}
	.c-btn.c-btn--outline.c-btn--white:hover .c-btn__icon,
	.c-btn.c-btn--outline.c-btn--white:focus .c-btn__icon {
		@apply text-white;
	}
	.c-btn.c-btn--outline.c-btn--white:disabled {
		@apply bg-transparent 
		cursor-not-allowed
		border-1
		border-solid
		border-[var(--text-600-color)]
		text-[var(--text-600-color)];
	}
	.c-btn.c-btn--outline.c-btn--white:disabled .c-btn__text,
	.c-btn.c-btn--outline.c-btn--white:disabled .c-btn__icon {
		@apply text-[var(--text-600-color)];
	}
	.c-btn.c-btn--text.c-btn--white {
		@apply border-0 
		bg-transparent 
		font-semibold
		text-white;
	}
	.c-btn.c-btn--text.c-btn--white .c-btn__text {
		@apply text-white;
	}
	.c-btn.c-btn--text.c-btn--white:hover,
	.c-btn.c-btn--text.c-btn--white:focus {
		@apply bg-[rgba(0,0,0,0.3)]
		text-white;
	}
	.c-btn.c-btn--text.c-btn--white:hover .c-btn__text,
	.c-btn.c-btn--text.c-btn--white:focus .c-btn__text {
		@apply text-white;
	}
	.c-btn.c-btn--text.c-btn--white:disabled {
		@apply bg-transparent 
		cursor-not-allowed
		text-[var(--text-600-color)];
	}
	.c-btn.c-btn--text.c-btn--white:disabled .c-btn__text,
	.c-btn.c-btn--text.c-btn--white:disabled .c-btn__icon {
		@apply text-[var(--text-600-color)];
	}
	.c-btn.c-btn--rounded {
		@apply rounded-full;
	}
}