@layer components {
	/*
	*************************************
	button
	*************************************
	*/
	.c-btn {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: .6rem;
		cursor: pointer;
		text-decoration: none;
		line-height: 1em;
		transition: all 0.2s;
		white-space: nowrap;
		border: 1px solid transparent;
		font-weight: 600;
		width: max-content;
		border-radius: var(--btn-radius-md);
		background-color: var(--primary-700-color);
		color: var(--white-color);
		height: var(--btn-height-md);
		padding-inline: var(--btn-padding-inline-md);
		padding-block: var(--btn-padding-block-md);
		font-size: var(--btn-font-size-md);
	}
	.c-btn__icon,
	.c-btn i {
		font-variation-settings: 'FILL'0,
			'wght'400,
			'GRAD'0,
			'opsz'24;
		font-size:var(--btn-icon-size-md);
	}	
	.c-btn--full {
		width: 100%;
	}
	.c-btn__text {
		line-height: 1em;
		color:var(--white-color);
	}
	.c-btn:hover,
	.c-btn:focus {
		background-color: var(--primary-800-color);
	}
	.c-btn:disabled,
	.c-btn:disabled:hover,
	.c-btn:disabled:focus {		
		cursor:not-allowed;
		color:var(--white-color);
		background-color: var(--tertiary-300-color);
	}
	.c-btn:disabled .c-btn__text,
	.c-btn:disabled:hover .c-btn__text,
	.c-btn:disabled:focus .c-btn__text {
		color:var(--white-color);
	}
	.c-btn--outline {
		background-color: transparent;
		border: 1px solid var(--primary-500-color);
		color: var(--primary-700-color);
	}
	.c-btn--outline .c-btn__text {
		color:var(--primary-700-color)
	}
	.c-btn--outline:hover,
	.c-btn--outline:focus {
		background-color: var(--primary-100-color);
		border: 1px solid var(--primary-600-color);
		color: var(--primary-800-color);
	}
	.c-btn--outline:hover .c-btn__text,
	.c-btn--outline:focus .c-btn__text {
		color: var(--primary-800-color);
	}
	.c-btn--outline:disabled,
	.c-btn--outline:disabled:hover,
	.c-btn--outline:disabled:focus {
		cursor:not-allowed;
		background-color: var(--surface-color);
		border: 1px solid var(--tertiary-300-color);
		color: var(--tertiary-400-color);
	}
	.c-btn--outline:disabled .c-btn__text,
	.c-btn--outline:disabled:hover .c-btn__text,
	.c-btn--outline:disabled:focus .c-btn__text {
		color:var(--tertiary-400-color);
	}
	.c-btn--text {
		border: .1rem solid transparent;
		background-color: transparent;
		font-weight: 600;
		color: var(--primary-700-color);
	}
	.c-btn--text .c-btn__text {
		color:var(--primary-700-color)
	}
	.c-btn--text:hover,
	.c-btn--text:focus {
		background-color: var(--primary-50-color);
		color:var(--primary-800-color);
	}
	.c-btn--text:hover .c-btn__text,
	.c-btn--text:focus .c-btn__text {
		color:var(--primary-800-color);
	}
	.c-btn--text:disabled,
	.c-btn--text:disabled:hover,
	.c-btn--text:disabled:focus {
		background-color: transparent;
		cursor:not-allowed;
		color: var(--tertiary-400-color);
	}
	.c-btn--text:disabled .c-btn__text,
	.c-btn--text:disabled:hover .c-btn__text,
	.c-btn--text:disabled:focus .c-btn__text {
		color:var(--tertiary-400-color);
	}
	.c-btn--warning {
		background-color: var(--warning-500-color);
		color: var(--white-color);
		border: 1px solid var(--warning-500-color);
	}
	.c-btn--warning .c-btn__text {
		color:var(--white-color);
	}
	.c-btn--warning:hover,
	.c-btn--warning:focus {
		background-color: var(--warning-600-color);
		color:var(--white-color)
	}
	.c-btn--warning:hover .c-btn__text,
	.c-btn--warning:focus .c-btn__text {
		color:var(--white-color);
	}
	.c-btn--warning:disabled {
		background-color:var(--tertiary-300-color);
		color:var(--white-color);
		border: 1px solid var(--tertiary-300-color);
	}
	.c-btn--warning:disabled .c-btn__text {
		color:var(--white-color)
	}
	.c-btn--outline.c-btn--warning {
		border:.1rem solid var(--warning-500-color);
		background-color: var(--white-color);
		color:var(--warning-600-color);
	}
	.c-btn--outline.c-btn--warning .c-btn__text {
		color:var(--warning-600-color);
	}
	.c-btn--outline.c-btn--warning:hover,
	.c-btn--outline.c-btn--warning:focus {
		background-color:var(--warning-50-color);
		border:.1rem solid var(--warning-500-color);
		color:var(--warning-600-color);
	}
	.c-btn--outline.c-btn--warning:hover .c-btn__text,
	.c-btn--outline.c-btn--warning:focus .c-btn__text {
		color:var(--warning-600-color);
	}
	.c-btn--outline.c-btn--warning:disabled {
		cursor:not-allowed;
		background-color: var(--white-color);
		border: .1rem solid var(--tertiary-300-color);
		color: var(--tertiary-400-color);
	}
	.c-btn--outline.c-btn--warning:disabled .c-btn__text {
		color:var(--tertiary-400-color);
	}
	.c-btn--text.c-btn--warning {
		border:0;
		background-color: transparent;
		font-weight: 600;
		color: var(--warning-500-color);
	}
	.c-btn--text.c-btn--warning .c-btn__text {
		color:var(--warning-500-color);
	}
	.c-btn--text.c-btn--warning:hover,
	.c-btn--text.c-btn--warning:focus {
		background-color: var(--warning-500-color);
		color:var(--white-color);
	}
	.c-btn--text.c-btn--warning:hover .c-btn__text,
	.c-btn--text.c-btn--warning:focus .c-btn__text {
		color:var(--white-color);
	}
	.c-btn--text.c-btn--warning:disabled {
		background-color: transparent;
		cursor:not-allowed;
		color:var(--tertiary-400-color);
	}
	.c-btn--text.c-btn--warning:disabled .c-btn__text {
		color:var(--tertiary-400-color);
	}
	.c-btn--white {
		background-color: var(--white-color);
		color: var(--text-700-color);
	}
	.c-btn--white .c-btn__text {
		color:var(--text-700-color);
	}
	.c-btn--white:hover,
	.c-btn--white:focus {
		background-color:var(--text-50-color);
		color:var(--text-800-color);
	}
	.c-btn--white:hover .c-btn__text,
	.c-btn--white:focus .c-btn__text {
		color:var(--text-800-color);
	}
	.c-btn--white:disabled,
	.c-btn--white:disabled:hover,
	.c-btn--white:disabled:focus {
		cursor:not-allowed;
		background-color: var(--text-700-color);
		color: var(--text-400-color);
	}
	.c-btn--white:disabled .c-btn__text,
	.c-btn--white:disabled:hover .c-btn__text,
	.c-btn--white:disabled:focus .c-btn__text,
	.c-btn--white:disabled i,
	.c-btn--white:disabled:hover i,
	.c-btn--white:disabled:focus i {
		color:var(--text-400-color);
	}
	.c-btn--outline.c-btn--white {
		background-color: transparent;
		border: .1rem solid var(--text-200-color);
		color: var(--text-100-color);
	}
	.c-btn--outline.c-btn--white .c-btn__text,
	.c-btn--outline.c-btn--white .c-btn__icon {
		color:var(--text-100-color);
	}
	.c-btn--outline.c-btn--white:hover,
	.c-btn--outline.c-btn--white:focus {
		background-color: transparent;
		border:.1rem solid var(--white-color);
		color: var(--white-color);
	}
	.c-btn--outline.c-btn--white:hover .c-btn__text,
	.c-btn--outline.c-btn--white:focus .c-btn__text {
		color:var(--white-color);
	}
	.c-btn--outline.c-btn--white:hover .c-btn__icon,
	.c-btn--outline.c-btn--white:focus .c-btn__icon {
		color:var(--white-color);
	}
	.c-btn--outline.c-btn--white:disabled {
		background-color: transparent;
		cursor:not-allowed;
		border:.1rem solid var(--text-600-color);
		color: var(--text-600-color);
	}
	.c-btn--outline.c-btn--white:disabled .c-btn__text,
	.c-btn--outline.c-btn--white:disabled .c-btn__icon {
		color:var(--text-600-color);
	}
	.c-btn--text.c-btn--white {
		border:0;
		background-color: transparent;
		font-weight: 600;
		color: var(--white-color);
	}
	.c-btn--text.c-btn--white .c-btn__text {
		color:var(--white-color);
	}
	.c-btn--text.c-btn--white:hover,
	.c-btn--text.c-btn--white:focus {
		background-color: rgba(0,0,0,0.3);
		color:var(--white-color);
	}
	.c-btn--text.c-btn--white:hover .c-btn__text,
	.c-btn--text.c-btn--white:focus .c-btn__text {
		color:var(--white-color);
	}
	.c-btn--text.c-btn--white:disabled {
		background-color:transparent;
		cursor:not-allowed;
		color:var(--text-600-color);
	}
	.c-btn--text.c-btn--white:disabled .c-btn__text,
	.c-btn--text.c-btn--white:disabled .c-btn__icon {
		color:var(--text-600-color);
	}
	.c-btn.c-btn--rounded {
		border-radius: calc(infinity * .1rem);
	}	

	/*
	*************************************
	Button Size
	*************************************
	*/
	.c-btn:has(.c-btn__icon, i):not(:has(.c-btn__text)) {
		padding: 0;
		width: var(--btn-not-txt-width-md);
	}

	.c-btn:has(.c-btn__icon, i):not(:has(.c-btn__text)) .c-btn__icon {
		font-variation-settings: 'FILL'0,	'wght'300, 'GRAD'0,	'opsz'24;
		font-size: var(--btn-not-txt-icon-size-md);
	}

	.c-btn--xl {
		font-weight: 600;
		height: var(--btn-height-xl);
		border-radius: var(--btn-radius-xl);
		padding-block: var(--btn-padding-block-xl);
		padding-inline: var(--btn-padding-inline-xl);
		font-size: var(--btn-font-size-xl);
	}

	.c-btn--xl:not(:has(.c-btn__icon, i)) {
		padding-inline: calc(var(--btn-padding-inline-xl) + 1rem);
	}

	.c-btn--xl i {
		font-variation-settings: 'FILL'0,	'wght'400, 'GRAD'0,	'opsz'24;
		font-size: var(--btn-icon-size-xl);
	}

	.c-btn--lg {
		height: var(--btn-height-lg);
		border-radius: var(--btn-radius-lg);
		padding-block: var(--btn-padding-block-lg);
		padding-inline: var(--btn-padding-inline-lg);
		font-size: var(--btn-font-size-lg);
	}

	.c-btn--lg:not(:has(.c-btn__icon, i)) {
		padding-inline: calc(var(--btn-padding-inline-lg) + .8rem);
	}

	.c-btn--lg i {
		font-variation-settings: 'FILL'0,	'wght'400, 'GRAD'0, 'opsz'24;
		font-size: var(--btn-icon-size-lg);
	}

	.c-btn--md {
		height: var(--btn-height-md);
		border-radius: var(--btn-radius-md);
		padding-block: var(--btn-padding-block-md);
		padding-inline: var(--btn-padding-inline-md);
		font-size: var(--btn-font-size-md);
	}

	.c-btn--md:not(:has(.c-btn__icon, i)) {
		padding-inline: calc(var(--btn-padding-inline-md) + .6rem);
	}

	.c-btn--md .c-btn__icon,
	.c-btn--md i {
		font-variation-settings: 'FILL'0,	'wght'400, 'GRAD'0,	'opsz'24;
		font-size: var(--btn-icon-size-md);
	}

	.c-btn--sm {
		height: var(--btn-height-sm);
		border-radius: var(--btn-radius-sm);
		padding-block: var(--btn-padding-block-sm);
		padding-inline: var(--btn-padding-inline-sm);
		font-size: var(--btn-font-size-sm);
	}

	.c-btn--sm:not(:has(.c-btn__icon, i)) {
		padding-inline: calc(var(--btn-padding-inline-sm) + .4rem);
	}

	.c-btn--sm .c-btn__icon {
		font-variation-settings: 'FILL'0,	'wght'400, 'GRAD'0,	'opsz'24;
		font-size: var(--btn-icon-size-sm);
	}

	.c-btn--xs {
		height: var(--btn-height-xs);
		border-radius: var(--btn-radius-xs);
		padding-block: var(--btn-padding-block-xs);
		padding-inline: var(--btn-padding-inline-xs);
		font-size: var(--btn-font-size-xs);
	}

	.c-btn--xs:not(:has(.c-btn__icon, i)) {
		padding-inline: calc(var(--btn-padding-inline-xs) + .4rem);
	}

	.c-btn--xs .c-btn__icon {
		font-variation-settings: 'FILL'0,	'wght'400, 'GRAD'0,	'opsz'24;
		font-size: var(--btn-icon-size-xs);
	}

	.c-btn--xl:has(.c-btn__icon, i):not(:has(.c-btn__text)) {
		padding: 0;
		width: var(--btn-not-txt-width-xl);
	}

	.c-btn--xl:has(.c-btn__icon):not(:has(.c-btn__text)) .c-btn__icon {
		font-variation-settings: 'FILL'0,	'wght'300, 'GRAD'0,	'opsz'24;
		font-size: var(--btn-not-txt-icon-size-xl);
	}

	.c-btn--lg:has(.c-btn__icon, i):not(:has(.c-btn__text)) {
		padding: 0;
		width: var(--btn-not-txt-width-lg);
	}

	.c-btn--lg:has(.c-btn__icon, i):not(:has(.c-btn__text)) .c-btn__icon {
		font-variation-settings: 'FILL'0,	'wght'300, 'GRAD'0,	'opsz'24;
		font-size: var(--btn-not-txt-icon-size-lg);
	}

	.c-btn--md:has(.c-btn__icon, i):not(:has(.c-btn__text)) {
		padding: 0;
		width: var(--btn-not-txt-width-md);
	}

	.c-btn--md:has(.c-btn__icon, i):not(:has(.c-btn__text)) .c-btn__icon {
		font-variation-settings: 'FILL'0,	'wght'300, 'GRAD'0,	'opsz'24;
		font-size: var(--btn-not-txt-icon-size-md);
	}

	.c-btn--sm:has(.c-btn__icon, i):not(:has(.c-btn__text)) {
		padding: 0;
		width: var(--btn-not-txt-width-sm);
	}

	.c-btn--sm:has(.c-btn__icon, i):not(:has(.c-btn__text)) .c-btn__icon {
		font-variation-settings: 'FILL'0, 'wght'300, 'GRAD'0,	'opsz'24;
		font-size: var(--btn-not-txt-icon-size-sm);
	}

	.c-btn--xs:has(.c-btn__icon, i):not(:has(.c-btn__text)) {
		padding: 0;
		width: var(--btn-not-txt-width-xs);
	}

	.c-btn--xs:has(.c-btn__icon, i):not(:has(.c-btn__text)) .c-btn__icon {
		font-variation-settings: 'FILL'0,	'wght'300, 'GRAD'0,	'opsz'24;
		font-size: var(--btn-not-txt-icon-size-xs);
	}	
}