@layer components {
  /*
  ******************************************
  box types
  ******************************************
  */
  .cdf-box-type01 {
    background-color: var(--tertiary-100-color);
    border: .1rem solid var(--tertiary-200-color);
    border-radius: 1.6rem;
    padding: 2.8rem;
  }
  @media (max-width: 580px) {
    .cdf-box-type01 {
      padding: 1.6rem;
    }
  }
  .cdf-box-type02 {
    background-color: #6A70B9;
    border-radius: 1.6rem;
    padding: 2.8rem 4.8rem;
  }
  @media (max-width: 640px) {
    .cdf-box-type02 {
      padding: 2.8rem 2.8rem;
    }
  }
}