@layer components {
  /*
  ******************************************
  box types
  ******************************************
  */
  .c-box-type01 {
    @apply rounded-[1.6rem] 
    p-7 
    bg-[var(--tertiary-100-color)] 
    border-1 
    border-solid 
    border-[var(--tertiary-200-color)];
  }
  @media (max-width: 580px) {
    .c-box-type01 {
      @apply p-4;
    }
  }
  .c-box-type02 {
    @apply bg-[#6A70B9] rounded-[1.6rem] py-6 px-12;
  }
  @media (max-width: 640px) {
    .c-box-type02 {
      @apply p-7
    }
  }
}