@layer components {
/*
**************************************
form
**************************************
*/
.c-form-group {
  @apply !flex 
  justify-start 
  flex-col 
  gap-3 
  w-full;
}
.c-form-group.horizontal {
  @apply flex 
  justify-start 
  flex-row 
  gap-4 
  w-full;
}
@media (max-width: 1024px) {
  .c-form-group.horizontal {
    @apply flex-col 
    gap-2;
  }
}
.c-form-group.horizontal .c-form-tit {
  @apply w-auto 
  shrink-0;
}
.c-form-group .c-form-tit {
  @apply text-[length:0]
}

.c-form-group.horizontal .c-form-tit label {
  @apply inline-flex 
  items-center 
  h-11 
  gap-[0.5rem];
}

@media (max-width: 1024px) {
  .c-form-group.horizontal .c-form-tit label {
    @apply h-auto;
  }
}

.c-form-group .c-form-tit label,
.c-form-group .c-form-label {
  @apply inline-flex 
  items-center 
  gap-[0.5rem] 
  w-full 
  text-[var(--text-900-color)]
  text-[length:1.6rem] 
  font-bold;
}

.c-form-group .c-form-tit label:before,
.c-form-group .c-form-label:before {
  @apply inline-block 
  content-[''] 
  w-2 
  h-[.3rem] 
  bg-[var(--primary-600-color)] 
  rounded-full;
}

.c-form-group .c-form-tit label.none:before,
.c-form-group .c-form-label.none:before {
  @apply hidden
}

.c-form-group .c-form-tit label.bullet:before,
.c-form-group .c-form-label.bullet:before {
  @apply inline-block 
  content-['']
  w-[.5rem] 
  h-[.5rem]
  bg-[var(--primary-600-color)] 
  rounded-full;
}

.c-form-group .c-form-label.required,
.c-form-group .c-form-tit label.required {
  @apply inline-flex 
  gap-[0.6rem];
}

.c-form-group .c-form-label.required::after,
.c-form-group .c-form-tit label.required::after {
  @apply content-['*'] 
  inline-block 
  text-[length:1.6rem]
  font-semibold
  text-[#FA6B6B];
}

.c-form-group .c-form-conts {
  @apply 
  flex 
  items-start 
  justify-center 
  flex-col 
  gap-2 
  w-full;
}

.c-form-group .c-form-conts .length {
  @apply 
  text-[length:1.3rem] 
  text-[var(--text-600-color)] 
  font-medium 
  self-end;
}

.c-form-group .c-form-conts .c-form-conts-inner {
  @apply 
  flex 
  items-center 
  justify-start 
  flex-row 
  gap-1.5 
  w-full;
}

@media (max-width: 640px) {
  .c-form-box .c-form-group .c-form-conts .c-form-conts-inner.c-inline {
    @apply flex-col;
  }

  .c-form-box .c-form-group .c-form-conts .c-form-conts-inner.c-inline button {
    @apply !w-full
  }

  .c-form-box .c-form-group .c-form-conts .c-form-conts-inner.c-inline .c-btn-icon-wrap .c-btn.size-xl {
    width: 6rem !important;
  }

  .c-form-box .c-form-group .c-form-conts .c-form-conts-inner.c-inline .c-btn-icon-wrap .c-btn.size-l {
    width: 5.2rem !important;
  }

  .c-form-box .c-form-group .c-form-conts .c-form-conts-inner.c-inline .c-btn-icon-wrap .c-btn.size-m {
    width: 4.4rem !important;
  }

  .c-form-box .c-form-group .c-form-conts .c-form-conts-inner.c-inline .c-btn-icon-wrap .c-btn.size-s {
    width: 3.6rem !important;
  }

  .c-form-box .c-form-group .c-form-conts .c-form-conts-inner.c-inline .c-btn-icon-wrap .c-btn.size-xs {
    width: 3.2rem !important;
  }
}

.c-form-group .c-form-conts .c-form-conts-inner.c-inline input,
.c-form-group .c-form-conts .c-form-conts-inner.c-inline select,
.c-form-group .c-form-conts .c-form-conts-inner.c-inline button,
.c-form-group .c-form-conts .c-form-conts-inner.c-inline .c-btn-icon-wrap {
  width: auto;
}



@media (max-width: 640px) {
  .c-form-box input,
  .c-form-box select,
  .c-form-box button,
  .c-form-box .c-btn-icon-wrap {
    width: 100% !important;
    max-width: 100% !important;
  }

  .c-form-box .c-flex {
    width: 100% !important;
  }

  .c-form-box .c-flex .c-form-tit[class*='ml'] {
    margin: 0 !important;
  }

  .c-countpm-wrap .countpm .c-btn {
    width: 3.6rem !important;
  }
}

.c-btn-icon-wrap {
  position: relative;
  width: 100%;
}

.c-btn-icon-wrap input,
.c-btn-icon-wrap textarea,
.c-btn-icon-wrap select {
  width: 100% !important;
  box-sizing: border-box;
}

.c-btn-icon-wrap input.size-xl {
  padding-right: 6rem !important;
}

.c-btn-icon-wrap input.size-l {
  padding-right: 5.2rem !important;
}

.c-btn-icon-wrap input.size-m {
  padding-right: 4.4rem !important;
}

.c-btn-icon-wrap input.size-s {
  padding-right: 3.6rem !important;
}

.c-btn-icon-wrap input.size-xs {
  padding-right: 3.2rem !important;
}

.c-btn-icon-wrap.left input.size-xl {
  padding-left: 6rem !important;
  padding-right: 3.8rem !important;
}

.c-btn-icon-wrap.left input.size-l {
  padding-left: 5.2rem !important;
  padding-right: 3.2rem !important;
}

.c-btn-icon-wrap.left input.size-m {
  padding-left: 4.4rem !important;
  padding-right: 2.8rem !important;
}

.c-btn-icon-wrap.left input.size-s {
  padding-left: 3.6rem !important;
  padding-right: 2.2rem !important;
}

.c-btn-icon-wrap.left input.size-xs {
  padding-left: 3.2rem !important;
  padding-right: 1.8rem !important;
}

.c-btn-icon-wrap.right input.size-xl {
  padding-right: 6rem !important;
  padding-left: 3.8rem !important;
}

.c-btn-icon-wrap.right input.size-l {
  padding-right: 5.2rem !important;
  padding-left: 3.2rem !important;
}

.c-btn-icon-wrap.right input.size-m {
  padding-right: 4.4rem !important;
  padding-left: 2.8rem !important;
}

.c-btn-icon-wrap.right input.size-s {
  padding-right: 3.6rem !important;
  padding-left: 2.2rem !important;
}

.c-btn-icon-wrap.right input.size-xs {
  padding-right: 3.2rem !important;
  padding-left: 1.8rem !important;
}

.c-btn-icon-wrap.side input.size-xl {
  padding-right: 6rem !important;
  padding-left: 6rem !important
}

.c-btn-icon-wrap.side input.size-l {
  padding-right: 5.2rem !important;
  padding-left: 5.2rem !important;
}

.c-btn-icon-wrap.side input.size-m {
  padding-right: 4.4rem !important;
  padding-left: 4.4rem !important
}

.c-btn-icon-wrap.side input.size-s {
  padding-right: 3.6rem !important;
  padding-left: 3.6rem !important;
}

.c-btn-icon-wrap.side input.size-xs {
  padding-right: 3.2rem !important;
  padding-left: 3.2rem !important;
}

.c-btn-icon-wrap input[type="date"],
.c-btn-icon-wrap input[type="month"] {
  position: relative;
}

.c-btn-icon-wrap input[type="date"]::after,
.c-btn-icon-wrap input[type="month"]::after {
  content: '\ebcc';
  font-family: 'Material Symbols Rounded';
  font-size: 2.4rem;
  color: var(--tertiary-900-color);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}



.c-btn-icon-wrap input[type="date"].size-xl,
.c-btn-icon-wrap input[type="month"].size-xl {
  padding-right: 1.4rem !important;
}

.c-btn-icon-wrap input[type="date"].size-xl::after,
.c-btn-icon-wrap input[type="month"].size-xl::after {
  font-size: 3.6rem;
}

.c-btn-icon-wrap input[type="date"].size-l,
.c-btn-icon-wrap input[type="month"].size-l {
  padding-right: 1.2rem !important;
}

.c-btn-icon-wrap input[type="date"].size-l::after,
.c-btn-icon-wrap input[type="month"].size-l::after {
  font-size: 3.2rem;
}

.c-btn-icon-wrap input[type="date"].size-m,
.c-btn-icon-wrap input[type="month"].size-m {
  padding-right: 1rem !important;
}

.c-btn-icon-wrap input[type="date"].size-m::after,
.c-btn-icon-wrap input[type="month"].size-m::after {
  font-size: 2.8rem;
}

.c-btn-icon-wrap input[type="date"].size-s,
.c-btn-icon-wrap input[type="month"].size-s {
  padding-right: 1rem !important;
}

.c-btn-icon-wrap input[type="date"].size-s::after,
.c-btn-icon-wrap input[type="month"].size-s::after {
  font-size: 2.4rem;
}

.c-btn-icon-wrap input[type="date"].size-xs,
.c-btn-icon-wrap input[type="month"].size-xs {
  padding-right: .8rem !important;
}

.c-btn-icon-wrap input[type="date"].size-xs::after,
.c-btn-icon-wrap input[type="month"].size-xs::after {
  font-size: 2.0rem;
}

.c-btn-icon-wrap input[type="date"]~.btn,
.c-btn-icon-wrap input[type="month"]~.btn {
  display: none;
}

.c-btn-icon-wrap input[type="date"]:disabled::after,
.c-btn-icon-wrap input[type="month"]:disabled::after {
  color: var(--tertiary-300-color);
}


.c-btn-icon-wrap input[type="date"]::-webkit-calendar-picker-indicator,
.c-btn-icon-wrap input[type="month"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.c-file-input-wrap {
  position: relative;
  width: 100%;
}

.c-file-input-wrap input {
  width: 100% !important;
  box-sizing: border-box;
}

.c-file-input-wrap input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.c-file-input-wrap label {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.c-file-input-wrap input+label {
  width: 4.4rem;
  height: 4.4rem;
}

.c-file-input-wrap input.size-xl+label {
  width: 6rem;
  height: 6rem;
}

.c-file-input-wrap input.size-xl+label i {
  font-size: 2.4rem;
}

.c-file-input-wrap input.size-l+label {
  width: 5.2rem;
  height: 5.2rem;
}

.c-file-input-wrap input.size-l+label i {
  font-size: 2.4rem;
}

.c-file-input-wrap input.size-m+label {
  width: 4.4rem;
  height: 4.4rem;
}

.c-file-input-wrap input.size-m+label i {
  font-size: 2.2rem;
}

.c-file-input-wrap input.size-s+label {
  width: 3.6rem;
  height: 3.6rem;
}

.c-file-input-wrap input.size-s+label i {
  font-size: 2rem;
}

.c-file-input-wrap input.size-xs+label {
  width: 3.2rem;
  height: 3.2rem;
}

.c-file-input-wrap input.size-xs+label i {
  font-size: 1.6rem;
}

.c-file-input-wrap input.size-xl {
  padding-right: 6rem !important;
}

.c-file-input-wrap input.size-l {
  padding-right: 5.2rem !important;
}

.c-file-input-wrap input.size-m {
  padding-right: 4.4rem !important;
}

.c-file-input-wrap input.size-s {
  padding-right: 3.6rem !important;
}

.c-file-input-wrap input.size-xs {
  padding-right: 3.2rem !important;
}

.c-file-input-wrap.left input.size-xl {
  padding-left: 6rem !important;
  padding-right: 3.8rem !important;
}

.c-file-input-wrap.left input.size-l {
  padding-left: 5.2rem !important;
  padding-right: 3.2rem !important;
}

.c-file-input-wrap.left input.size-m {
  padding-left: 4.4rem !important;
  padding-right: 2.8rem !important;
}

.c-file-input-wrap.left input.size-s {
  padding-left: 3.6rem !important;
  padding-right: 2.2rem !important;
}

.c-file-input-wrap.left input.size-xs {
  padding-left: 3.2rem !important;
  padding-right: 1.8rem !important;
}

.c-file-input-wrap.right input.size-xl {
  padding-right: 6rem !important;
  padding-left: 3.8rem !important;
}

.c-file-input-wrap.right input.size-l {
  padding-right: 5.2rem !important;
  padding-left: 3.2rem !important;
}

.c-file-input-wrap.right input.size-m {
  padding-right: 4.4rem !important;
  padding-left: 2.8rem !important;
}

.c-file-input-wrap.right input.size-s {
  padding-right: 3.6rem !important;
  padding-left: 2.2rem !important;
}

.c-file-input-wrap.right input.size-xs {
  padding-right: 3.2rem !important;
  padding-left: 1.8rem !important;
}

.c-file-input-wrap.side input.size-xl {
  padding-right: 6rem !important;
  padding-left: 6rem !important
}

.c-file-input-wrap.side input.size-l {
  padding-right: 5.2rem !important;
  padding-left: 5.2rem !important
}

.c-file-input-wrap.side input.size-m {
  padding-right: 4.4rem !important;
  padding-left: 4.4rem !important
}

.c-file-input-wrap.side input.size-s {
  padding-right: 3.6rem !important;
  padding-left: 3.6rem !important
}

.c-file-input-wrap.side input.size-xs {
  padding-right: 3.2rem !important;
  padding-left: 3.2rem !important
}

.c-file-input-wrap button,
.c-btn-icon-wrap button {
  position: absolute;
  top: 0;
  right: 0;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.c-btn-icon-wrap button.size-xs:nth-child(3),
.c-file-input-wrap button.size-xs:nth-child(3) {
  right: 2.4rem;
}

.c-file-input-wrap button.size-s:nth-child(3),
.c-file-input-wrap button.size-s:nth-child(3) {
  right: 2.8rem;
}

.c-file-input-wrap button.size-m:nth-child(3),
.c-file-input-wrap button.size-m:nth-child(3) {
  right: 3.6rem;
}

.c-btn-icon-wrap button:nth-child(3),
.c-file-input-wrap button:nth-child(3) {
  right: 4.4rem;
}

.c-btn-icon-wrap button.size-l:nth-child(3),
.c-file-input-wrap button.size-l:nth-child(3) {
  right: 4.4rem;
}

.c-btn-icon-wrap button.size-xl:nth-child(3),
.c-file-input-wrap button.size-xl:nth-child(3) {
  right: 5.2rem;
}

.c-btn-icon-wrap:has(.text) button:hover,
.c-btn-icon-wrap:has(.text) button:focus,
.c-file-input-wrap:has(.text) button:hover,
.c-file-input-wrap:has(.text) button:focus {
  background-color: transparent !important;
}

.c-btn-icon-wrap .sign,
.c-file-input-wrap .sign {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.4rem;
  padding: 0;
  background-color: var(--pad-50-color);
  border: .1rem solid var(--pad-400-color);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: var(--text-400-color);
}

.c-btn-icon-wrap .sign.size-xs,
.c-file-input-wrap .sign.size-xs {
  width: 3.2rem;
}

.c-btn-icon-wrap .sign.size-s,
.c-file-input-wrap .sign.size-s {
  width: 3.6rem;
}

.c-btn-icon-wrap .sign.size-m,
.c-file-input-wrap .sign.size-m {
  width: 4.4rem;
}

.c-btn-icon-wrap .sign.size-l,
.c-file-input-wrap .sign.size-l {
  width: 5.2rem;
}

.c-btn-icon-wrap .sign.size-xl,
.c-file-input-wrap .sign.size-xl {
  width: 6rem;
}

.c-btn-icon-wrap .input:disabled+button i,
.c-file-input-wrap .input:disabled+button i {
  color: var(--text-400-color);
  cursor: not-allowed;
}

.c-btn-icon-wrap.left .icon,
.c-file-input-wrap.left .icon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-btn-icon-wrap.left .icon i,
.c-file-input-wrap.left .icon i {
  color: var(--tertiary-600-color)
}

.c-btn-icon-wrap.left .icon.size-xl,
.c-file-input-wrap.left .icon.size-xl {
  width: 6rem;
  height: 6rem;
}

.c-btn-icon-wrap.left .icon.size-xl i,
.c-file-input-wrap.left .icon.size-xl i {
  font-size: 2.8rem;
}

.c-btn-icon-wrap.left .icon.size-l,
.c-file-input-wrap.left .icon.size-l {
  width: 5.2rem;
  height: 5.2rem;
}

.c-btn-icon-wrap.left .icon.size-l i,
.c-file-input-wrap.left .icon.size-l i {
  font-size: 2.4rem;
}

.c-btn-icon-wrap.left .icon.size-m,
.c-file-input-wrap.left .icon.size-m {
  width: 4.4rem;
  height: 4.4rem;
}

.c-btn-icon-wrap.left .icon.size-m i,
.c-file-input-wrap.left .icon.size-m i {
  font-size: 2.4rem;
}

.c-btn-icon-wrap.left .icon.size-s,
.c-file-input-wrap.left .icon.size-s {
  width: 3.6rem;
  height: 3.6rem;
}

.c-btn-icon-wrap.left .icon.size-s i,
.c-file-input-wrap.left .icon.size-s i {
  font-size: 2.2rem;
}

.c-btn-icon-wrap.left .icon.size-xs,
.c-file-input-wrap.left .icon.size-xs {
  width: 3.2rem;
  height: 3.2rem;
}

.c-btn-icon-wrap.left .icon.size-xs i,
.c-file-input-wrap.left .icon.size-xs i {
  font-size: 2.0rem;
}

.c-countpm-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.c-countpm-wrap .txt {
  font-size: 1.4rem;
  color: var(--text-800-color);
  font-weight: 700;
}

.c-countpm-wrap .countpm {
  position: relative;
}

.c-countpm-wrap .countpm .c-btn {
  width: 4.4rem;
  padding: 0;
  background-color: var(--pad-50-color);
  border-color: var(--pad-400-color);
}

.c-countpm-wrap .countpm .c-btn .txt {
  font-size: 2rem;
  color: var(--text-400-color) !important;
  font-weight: 300;
}

.c-countpm-wrap .countpm .c-btn.minus {
  position: absolute;
  left: 0;
  top: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.c-countpm-wrap .countpm .c-btn.plus {
  position: absolute;
  right: 0;
  top: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.c-countpm-wrap .countpm .c-input {
  padding-left: 4.4rem !important;
  padding-right: 4.4rem !important;
}

.c-countpm-wrap .countpm .c-input.size-xs {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.c-countpm-wrap .countpm .c-input.size-s {
  padding-left: 3.6rem;
  padding-right: 3.6rem;
}

.c-countpm-wrap .countpm .c-input.size-m {
  padding-left: 4.4rem;
  padding-right: 4.4rem;
}

.c-countpm-wrap .countpm .c-input.size-l {
  padding-left: 5.2rem;
  padding-right: 5.2rem;
}

.c-countpm-wrap .countpm .c-input.size-xl {
  padding-left: 6rem;
  padding-right: 6rem;
}

.c-countpm-wrap .countpm .c-btn.size-xs {
  width: 3.2rem;
}

.c-countpm-wrap .countpm .c-btn.size-s {
  width: 3.6rem;
}

.c-countpm-wrap .countpm .c-btn.size-m {
  width: 4.4rem;
}

.c-countpm-wrap .countpm .c-btn.size-l {
  width: 5.2rem;
}

.c-countpm-wrap .countpm .c-btn.size-xl {
  width: 6rem;
}

.c-form-group .c-form-conts .c-form-conts-inner.wrap {
  flex-wrap: wrap;
}

.c-form-group .c-form-conts .c-form-conts-inner.radio {
  gap: 3rem;
}

.c-form-group [class^=c-form-hint] {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: .4rem;
  width: 100%;
  font-size: 1.4rem;
  color: var(--tertiary-900-color);
  margin-top: 0;
  line-height: 1.4em;
}

.c-form-group [class^=c-form-hint]::before {
  content: '!';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--white-color);
  font-weight: 700;
  background-color: var(--primary-500-color);
  width: 2rem;
  height: 2rem;
  border-radius: var(--radius-max);
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .c-form-group.horizontal .c-form-conts .c-form-conts-inner input,
  .c-form-group.horizontal .c-form-conts .c-form-conts-inner select,
  .c-form-group.horizontal .c-form-conts .c-form-conts-inner .btn-icon-wrap {
    flex-grow: 1;
    min-width: auto;
    width: 100% !important;
  }
  .c-form-group.horizontal .c-form-conts .c-form-conts-inner button {
    flex-shrink: 0;
  }
}

@media (max-width: 480px) {
  .c-form-group.horizontal .c-form-conts .c-form-conts-inner {
    flex-direction: column;
    gap: .8rem;
  }

  .c-form-group.horizontal .c-form-conts .c-form-conts-inner input,
  .c-form-group.horizontal .c-form-conts .c-form-conts-inner select,
  .c-form-group.horizontal .c-form-conts .c-form-conts-inner .c-btn-icon-wrap {
    flex-grow: 1;
    min-width: unset;
    width: 100% !important;
  }

  .c-form-group.horizontal .c-form-conts .c-form-conts-inner button {
    width: 100% !important;
    flex-grow: 1;
  }

  .c-form-group.horizontal .c-form-conts .c-form-conts-inner .c-btn-icon-wrap button {
    display: inline-block;
  }

  .c-form-group.horizontal .c-form-conts .c-form-conts-inner .c-btn-icon-wrap .c-btn.size-xl {
    width: 6rem !important;
  }

  .c-form-group.horizontal .c-form-conts .c-form-conts-inner .c-btn-icon-wrap .c-btn.size-l {
    width: 5.2rem !important;
  }

  .c-form-group.horizontal .c-form-conts .c-form-conts-inner .c-btn-icon-wrap .c-btn.size-m {
    width: 4.4rem !important;
  }

  .c-form-group.horizontal .c-form-conts .c-form-conts-inner .c-btn-icon-wrap .c-btn.size-s {
    width: 3.6rem !important;
  }

  .c-form-group.horizontal .c-form-conts .c-form-conts-inner .c-btn-icon-wrap .c-btn.size-xs {
    width: 3.2rem !important;
  }
}
}