@layer components {
/*
**************************************
form
**************************************
*/
.c-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap:1.2rem;
  width: 100%;
}
.c-form--horizontal {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap:1.6rem;
  width: 100%;
}
@media (max-width: 1024px) {
  .c-form--horizontal {
    flex-direction: column;
    gap:.8rem;
  }
}
.c-form--horizontal .c-form__tit {
  width:auto;
  flex-shrink: 0;
}
.c-form__tit {
  font-size:0;
}

.c-form__label {
  display: inline-flex;
  align-items: center;
  gap:.5rem;
  width: 100%;
  color:var(--text-900-color);
  font-size:1.6rem;
  font-weight: bold;
}

.c-form__label:before {
  display: inline-block;
  content:'';
  width: .8rem;
  height: .3rem;
  background-color: var(--primary-600-color);
  border-radius: calc(infinity * 1px);
}

.c-form--horizontal .c-form__label {
  display: inline-flex;
  align-items: center;
  height: 4.4rem;
  gap: .5rem;
}

@media (max-width: 1024px) {
  .c-form--horizontal .c-form__label {
    height: auto;
  }
}

.c-form__label--none:before {
  display:none;
}

.c-form__label--bullet:before {
  display: inline-block;
  content:'';
  width:.5rem;
  height:.5rem;
  background-color: var(--primary-600-color);   
  border-radius: 50%;
}

.c-form__label--required {
  display: inline-flex;
  gap: .6rem;
}

.c-form__label--required::after {
  content:'*';
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  color:#FA6B6B;
}

.c-form__conts {
  display:flex;
  align-items:flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap:.8rem;
  width: 100%;
}

.c-form__conts .length {
  font-size:1.3rem;
  color:var(--text-600-color);
  font-weight: 500;
  align-self:flex-end;
}

.c-form__inner {
  display: flex;
  align-items:center;
  justify-content: flex-start;
  flex-direction: row;
  gap:.6rem;
  width:100%;
}

@media (max-width: 640px) {
  .c-form-box .c-form--inline {
    flex-direction: column;    
  }

  .c-form-box .c-form--inline button {
    width: 100%;
  }

  .c-form-box .c-form--inline .c-form__btn .c-btn--xl {
    width: 6rem;
  }

  .c-form-box .c-form--inline .c-form__btn .c-btn--lg {
    width: 5.2rem;
  }

  .c-form-box .c-form--inline .c-form__btn .c-btn--md {
    width: 4.4rem;
  }

  .c-form-box .c-form--inline .c-form__btn .c-btn--sm {
    width: 3.6rem;
  }

  .c-form-box .c-form--inline .c-form__btn .c-btn--xs {
    width: 3.2rem;
  }
}

.c-form--inline input,
.c-form--inline select,
.c-form--inline button,
.c-form--inline .c-form__btn {
  width: auto;
}



@media (max-width: 640px) {
  .c-form-box input,
  .c-form-box select,
  .c-form-box button,
  .c-form-box .c-form__btn {
    width: 100%;
    max-width: 100%;
  }

  .c-form-box .c-flex {
    width: 100%;
  }

  .c-form-box .c-flex .c-form-tit[class*='ml'] {
    margin: 0;
  }

  .c-countpm-wrap .countpm .c-btn {
    width: 3.6rem;
  }
}

.c-form__btn {
  position: relative;
  width: 100%;
}

.c-form__btn input,
.c-form__btn textarea,
.c-form__btn select {
  width: 100%;
  box-sizing: border-box;
}

.c-form__btn .c-input--xl {
  padding-right: 6rem;
}

.c-form__btn .c-input--lg {
  padding-right: 5.2rem;
}

.c-form__btn .c-input--md {
  padding-right: 4.4rem;
}

.c-form__btn .c-input--sm {
  padding-right: 3.6rem;
}

.c-form__btn .c-input--xs {
  padding-right: 3.2rem;
}

.c-form__btn--left .c-input-xl {
  padding-left: 6rem;
  padding-right: 3.8rem;
}

.c-form__btn--left .c-input-lg {
  padding-left: 5.2rem;
  padding-right: 3.2rem;
}

.c-form__btn--left .c-input-md {
  padding-left: 4.4rem;
  padding-right: 2.8rem;
}

.c-form__btn--left .c-input-sm {
  padding-left: 3.6rem;
  padding-right: 2.2rem;
}

.c-form__btn--left .c-input-xs {
  padding-left: 3.2rem;
  padding-right: 1.8rem;
}

.c-form__btn--right .c-input-xl {
  padding-right: 6rem;
  padding-left: 3.8rem;
}

.c-form__btn--right .c-input-lg {
  padding-right: 5.2rem;
  padding-left: 3.2rem;
}

.c-form__btn--right .c-input-md {
  padding-right: 4.4rem;
  padding-left: 2.8rem;
}

.c-form__btn--right .c-input-sm {
  padding-right: 3.6rem;
  padding-left: 2.2rem;
}

.c-form__btn--right .c-input-xs {
  padding-right: 3.2rem;
  padding-left: 1.8rem;
}

.c-form__btn--side .c-input-xl {
  padding-right: 6rem;
  padding-left: 6rem;
}

.c-form__btn--side .c-input-lg {
  padding-right: 5.2rem;
  padding-left: 5.2rem;
}

.c-form__btn--side .c-input-md {
  padding-right: 4.4rem;
  padding-left: 4.4rem
}

.c-form__btn--side .c-input-sm {
  padding-right: 3.6rem;
  padding-left: 3.6rem;
}

.c-form__btn--side .c-input-xs {
  padding-right: 3.2rem;
  padding-left: 3.2rem;
}

.c-form__btn input[type="date"],
.c-form__btn input[type="month"] {
  position: relative;
}

.c-form__btn input[type="date"]::after,
.c-form__btn input[type="month"]::after {
  content: '\ebcc';
  font-family: 'Material Symbols Rounded';
  font-size: 2.4rem;
  color: var(--tertiary-900-color);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.c-form__btn input[type="date"].c-input--xl,
.c-form__btn input[type="month"].c-input--xl {
  padding-right: 1.4rem;
}

.c-form__btn input[type="date"].c-input--xl::after,
.c-form__btn input[type="month"].c-input--xl::after {
  font-size: 3.6rem;
}

.c-form__btn input[type="date"].c-input--lg,
.c-form__btn input[type="month"].c-input--lg {
  padding-right: 1.2rem;
}

.c-form__btn input[type="date"].c-input--lg::after,
.c-form__btn input[type="month"].c-input--lg::after {
  font-size: 3.2rem;
}

.c-form__btn input[type="date"].c-input--md,
.c-form__btn input[type="month"].c-input--md {
  padding-right: 1rem;
}

.c-form__btn input[type="date"].c-input--md::after,
.c-form__btn input[type="month"].c-input--md::after {
  font-size: 2.8rem;
}

.c-form__btn input[type="date"].c-input--sm,
.c-form__btn input[type="month"].c-input--sm {
  padding-right: 1rem;
}

.c-form__btn input[type="date"].c-input--sm::after,
.c-form__btn input[type="month"].c-input--sm::after {
  font-size: 2.4rem;
}

.c-form__btn input[type="date"].c-input--xs,
.c-form__btn input[type="month"].c-input--xs {
  padding-right: .8rem;
}

.c-form__btn input[type="date"].c-input--xs::after,
.c-form__btn input[type="month"].c-input--xs::after {
  font-size: 2.0rem;
}

.c-form__btn input[type="date"]~.c-btn,
.c-form__btn input[type="month"]~.c-btn {
  display: none;
}

.c-form__btn input[type="date"]:disabled::after,
.c-form__btn input[type="month"]:disabled::after {
  color: var(--tertiary-300-color);
}


.c-form__btn input[type="date"]::-webkit-calendar-picker-indicator,
.c-form__btn input[type="month"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.c-form__file {
  position: relative;
  width: 100%;
}

.c-form__file input {
  width: 100%;
  box-sizing: border-box;
}

.c-form__file input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.c-form__file label {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color:var(--primary-700-color);
  border-radius: 0 var(--input-radius-md) var(--input-radius-md) 0;
}

.c-form__file input+label {
  width: 4.4rem;
  height: 4.4rem;
}
.c-form__file input+label i {
  color:var(--white-color)
}

.c-form__file .c-input--xl+label {
  width: 6rem;
  height: 6rem;
  border-radius: 0 var(--input-radius-xl) var(--input-radius-xl) 0;
}

.c-form__file .c-input--xl+label i {
  font-size: 2.8rem;
}

.c-form__file .c-input--lg+label {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 0 var(--input-radius-lg) var(--input-radius-lg) 0;
}

.c-form__file .c-input--lg+label i {
  font-size: 2.4rem;
}

.c-form__file .c-input--md+label {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 0 var(--input-radius-md) var(--input-radius-md) 0;
}

.c-form__file .c-input--md+label i {
  font-size: 2.2rem;
}

.c-form__file .c-input--sm+label {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 0 var(--input-radius-sm) var(--input-radius-sm) 0;
}

.c-form__file .c-input--sm+label i {
  font-size: 2rem;
}

.c-form__file .c-input--xs+label {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0 var(--input-radius-xs) var(--input-radius-xs) 0;
}

.c-form__file .c-input--xs+label i {
  font-size: 1.6rem;
}

.c-form__file .c-input--xl {
  padding-right: 6rem;
}

.c-form__file .c-input--lg {
  padding-right: 5.2rem;
}

.c-form__file .c-input--md {
  padding-right: 4.4rem;
}

.c-form__file .c-input--sm {
  padding-right: 3.6rem;
}

.c-form__file .c-input--xs {
  padding-right: 3.2rem;
}

.c-form__file--left .c-input--xl {
  padding-left: 6rem;
  padding-right: 3.8rem;
}

.c-form__file--left .c-input--lg {
  padding-left: 5.2rem;
  padding-right: 3.2rem;
}

.c-form__file--left .c-input--md {
  padding-left: 4.4rem;
  padding-right: 2.8rem;
}

.c-form__file--left .c-input--sm {
  padding-left: 3.6rem;
  padding-right: 2.2rem;
}

.c-form__file--left .c-input--xs {
  padding-left: 3.2rem;
  padding-right: 1.8rem;
}

.c-form__file--right .c-input--xl {
  padding-right: 6rem;
  padding-left: 3.8rem;
}

.c-form__file--right .c-input--lg {
  padding-right: 5.2rem;
  padding-left: 3.2rem;
}

.c-form__file--right .c-input--md {
  padding-right: 4.4rem;
  padding-left: 2.8rem;
}

.c-form__file--right .c-input--sm {
  padding-right: 3.6rem;
  padding-left: 2.2rem;
}

.c-form__file--right .c-input--xs {
  padding-right: 3.2rem;
  padding-left: 1.8rem;
}

.c-form__file--side .c-input--xl {
  padding-right: 6rem;
  padding-left: 6rem
}

.c-form__file--side .c-input--lg {
  padding-right: 5.2rem;
  padding-left: 5.2rem
}

.c-form__file--side .c-input--md {
  padding-right: 4.4rem;
  padding-left: 4.4rem;
}

.c-form__file--side .c-input--sm {
  padding-right: 3.6rem;
  padding-left: 3.6rem;
}

.c-form__file--side .c-input--xs {
  padding-right: 3.2rem;
  padding-left: 3.2rem;
}

.c-form__file button,
.c-form__btn button {
  position: absolute; 
  top: 0;
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.c-form__btn .c-btn--xs:nth-child(3),
.c-form__file .c-btn--xs:nth-child(3) {
  right: 2.4rem;
}

.c-form__btn .c-btn--sm:nth-child(3),
.c-form__file .c-btn--sm:nth-child(3) {
  right: 2.8rem;
}

.c-form__btn .c-btn--md:nth-child(3),
.c-form__file .c-btn--md:nth-child(3) {
  right: 3.6rem;
}

.c-form__btn .c-btn:nth-child(3),
.c-form__file .c-btn:nth-child(3) {
  right: 4.4rem;
}

.c-form__btn .c-btn--lg:nth-child(3),
.c-form__file .c-btn--lg:nth-child(3) {
  right: 4.4rem;
}

.c-form__btn .c-btn--xl:nth-child(3),
.c-form__file .c-btn--xl:nth-child(3) {
  right: 5.2rem;
}

.c-form__btn:has(.c-btn--text) button:hover,
.c-form__btn:has(.c-btn--text) button:focus,
.c-form__file:has(.c-btn--text) button:hover,
.c-form__file:has(.c-btn--text) button:focus {
  background-color: transparent;
}

.c-form__sign {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.4rem;
  padding: 0;
  background-color: var(--pad-50-color);
  border: .1rem solid var(--pad-400-color);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: var(--text-400-color);
}

.c-form__sign--xs {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0 var(--input-radius-xs) var(--input-radius-xs) 0;
}

.c-form__sign--sm {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 0 var(--input-radius-sm) var(--input-radius-sm) 0;
}

.c-form__sign--md {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 0 var(--input-radius-md) var(--input-radius-md) 0;
}

.c-form__sign--lg {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 0 var(--input-radius-lg) var(--input-radius-lg) 0;
}

.c-form__sign--xl {
  width: 6rem;
  height: 6rem;
  border-radius: 0 var(--input-radius-xl) var(--input-radius-xl) 0;
}

.c-form__btn .c-input:disabled+button i,
.c-form__file .c-input:disabled+button i {
  color: var(--text-400-color);
  cursor: not-allowed;
}

.c-form__btn.left .icon,
.c-form__file.left .icon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-form__btn.left .icon i,
.c-form__file.left .icon i {
  color: var(--tertiary-600-color)
}

.c-form__btn.left .icon.size-xl,
.c-form__file.left .icon.size-xl {
  width: 6rem;
  height: 6rem;
}

.c-form__btn.left .icon.size-xl i,
.c-form__file.left .icon.size-xl i {
  font-size: 2.8rem;
}

.c-form__btn.left .icon.size-l,
.c-form__file.left .icon.size-l {
  width: 5.2rem;
  height: 5.2rem;
}

.c-form__btn.left .icon.size-l i,
.c-form__file.left .icon.size-l i {
  font-size: 2.4rem;
}

.c-form__btn.left .icon.size-m,
.c-form__file.left .icon.size-m {
  width: 4.4rem;
  height: 4.4rem;
}

.c-form__btn.left .icon.size-m i,
.c-form__file.left .icon.size-m i {
  font-size: 2.4rem;
}

.c-form__btn.left .icon.size-s,
.c-form__file.left .icon.size-s {
  width: 3.6rem;
  height: 3.6rem;
}

.c-form__btn.left .icon.size-s i,
.c-form__file.left .icon.size-s i {
  font-size: 2.2rem;
}

.c-form__btn.left .icon.size-xs,
.c-form__file.left .icon.size-xs {
  width: 3.2rem;  
  height: 3.2rem;
}

.c-form__btn.left .icon.size-xs i,
.c-form__file.left .icon.size-xs i {
  font-size: 2.0rem;
}


.c-form .c-form__conts .c-form__inner.wrap {
  flex-wrap: wrap;
}

.c-form .c-form__conts .c-form__inner.radio {
  gap: 3rem;
}

.c-form [class^=c-form__hint] {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: .4rem;
  width: 100%;
  font-size: 1.4rem;
  color: var(--tertiary-900-color);
  margin-top: 0;
  line-height: 1.4em;
}

.c-form [class^=c-form__hint]::before {
  content: '!';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--white-color);
  font-weight: 700;
  background-color: var(--primary-500-color);
  width: 2rem;
  height: 2rem;
  border-radius: var(--radius-max);
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .c-form--horizontal .c-form__conts .c-form__inner input,
  .c-form--horizontal .c-form__conts .c-form__inner select,
  .c-form--horizontal .c-form__conts .c-form__inner .c-form__btn {
    flex-grow: 1;
    min-width: auto;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .c-form--horizontal .c-form__conts .c-form__inner {
    flex-direction: column;
    gap: .8rem;
  }

  .c-form--horizontal .c-form__conts .c-form__inner input,
  .c-form--horizontal .c-form__conts .c-form__inner select,
  .c-form--horizontal .c-form__conts .c-form__inner .c-form__btn {
    flex-grow: 1;
    min-width: unset;
    width: 100%;
  }

  .c-form--horizontal .c-form__conts .c-form__inner button {
    width: 100%;
  }

  .c-form--horizontal .c-form__conts .c-form__inner .c-form__btn button {
    display: inline-flex;
    width:4.4rem;
  }

  .c-form--horizontal .c-form__conts .c-form__inner .c-form__btn .c-btn--xl {
    width: 6rem;
  }

  .c-form--horizontal .c-form__conts .c-form__inner .c-form__btn .c-btn--lg {
    width: 5.2rem;
  }

  .c-form--horizontal .c-form__conts .c-form__inner .c-form__btn .c-btn--md {
    width: 4.4rem;
  }

  .c-form--horizontal .c-form__conts .c-form__inner .c-form__btn .c-btn--sm {
    width: 3.6rem;
  }

  .c-form--horizontal .c-form__conts .c-form__inner .c-form__btn .c-btn--xs {
    width: 3.2rem;
  }
}
}