@layer components {
  /*
  *******************************
  label component styles
  *******************************
  */
  .c-label {
    padding: .5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--label-font-size-md);
    font-weight: 500;
    border-radius: var(--label-radius);
    color: var(--white-color);
    height: var(--label-height-md);
    white-space: nowrap;
    margin-inline: .2rem;
    vertical-align: text-bottom;
    background-color: #777;
  }

  .c-label.c-label--rounded {
    border-radius: var(--radius-pill);
    padding-inline:.8rem;
  }

  .c-label--sm {
    padding: var(--label-padding-sm);
    height: var(--label-height-sm);
  }

  .c-label--md {
    padding: var(--label-padding-md);
    height: var(--label-height-md);
  }

  .c-label--lg {
    padding: var(--label-padding-lg);
    font-size: var(--label-font-size-lg);
    height: var(--label-height-lg);
  }

  .c-label.c-label--hard.c-label--gray {
    background-color: #777;
  }

  .c-label.c-label--hard.c-label--green {
    background-color: #47A329;
  }

  .c-label.c-label--hard.c-label--turquoise {
    background-color: #29A38F;
  }

  .c-label.c-label--hard.c-label--cyan {
    background-color: #0099CC;
  }

  .c-label.c-label--hard.c-label--blue {
    background-color: #4141C7;
  }

  .c-label.c-label--hard.c-label--purple {
    background-color: #741FAD;
  }

  .c-label.c-label--hard.c-label--rose {
    background-color: #BD0F89;
  }

  .c-label.c-label--hard.c-label--red {
    background-color: #D02F2F;
  }

  .c-label.c-label--hard.c-label--orange {
    background-color: #ED7D27;
  }

  .c-label.c-label--hard.c-label--yellow {
    background-color: #EEB600;
  }

  .c-label.c-label--soft.c-label--gray {
    background-color: #E4E4E4;
    color: #666666;
  }

  .c-label.c-label--soft.c-label--green {
    background-color: #DEF5D6;
    color: #47A329;
  }

  .c-label.c-label--soft.c-label--turquoise {
    background-color: #D6F5F0;
    color: #0B8E78;
  }

  .c-label.c-label--soft.c-label--cyan {
    background-color: #C4E6F8;
    color: #0E8CBD;
  }

  .c-label.c-label--soft.c-label--blue {
    background-color: #D3DDFD;
    color: #3030A8;
  }

  .c-label.c-label--soft.c-label--purple {
    background-color: #E9D4F7;
    color: #741FAD;
  }

  .c-label.c-label--soft.c-label--rose {
    background-color: #FBD0EE;
    color: #BD0F89;
  }

  .c-label.c-label--soft.c-label--red {
    background-color: #FDCECE;
    color: #D02F2F;
  }

  .c-label.c-label--soft.c-label--orange {
    background-color: #FFE7CC;
    color: #DD6210;
  }

  .c-label.c-label--soft.c-label--yellow {
    background-color: #FDF3CD;
    color: #D08E13;
  }



  .c-label.c-label--border.c-label--gray {
    background-color: #fff;
    border: .1rem solid #777777;
    color: #777777;
  }

  .c-label.c-label--border.c-label--green {
    background-color: #fff;
    border: .1rem solid #47A329;
    color: #47A329;
  }

  .c-label.c-label--border.c-label--turquoise {
    background-color: #fff;
    border: .1rem solid #29A38F;
    color: #29A38F;
  }

  .c-label.c-label--border.c-label--cyan {
    background-color: #fff;
    border: .1rem solid #c3c5c5;
    color: #0099CC;
  }

  .c-label.c-label--border.c-label--blue {
    background-color: #fff;
    border: .1rem solid #4141C7;
    color: #4141C7;
  }

  .c-label.c-label--border.c-label--purple {
    background-color: #fff;
    border: .1rem solid #741FAD;
    color: #741FAD;
  }

  .c-label.c-label--border.c-label--rose {
    background-color: #fff;
    border: .1rem solid #BD0F89;
    color: #BD0F89;
  }

  .c-label.c-label--border.c-label--red {
    background-color: #fff;
    border: .1rem solid #D02F2F;
    color: #D02F2F;
  }

  .c-label.c-label--border.c-label--orange {
    background-color: #fff;
    border: .1rem solid #ED7D27;
    color: #ED7D27;
  }

  .c-label.c-label-border.c-label--orange {
    background-color: #fff;
    border: .1rem solid #EEB600;
    color: #EEB600;
  }
}