@layer components {
  /*
***************************************
modal popup
***************************************
*/
  .c-modal {
    pointer-events: none;
    visibility: hidden;
    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;
    color: inherit;
    transition: translate .3s ease-out, visibility .3s allow-discrete, background-color .3s ease-out, opacity .1s ease-out;
    overscroll-behavior: contain;
    z-index: 999;
    background-color: rgba(0, 0, 0, .75);
    place-items: center;
    margin: 0;
    padding: 0;
    display: grid;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  .c-modal.in {
    pointer-events: auto;
    z-index: 1010;
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, .75);
  }

  .c-modal__box {
    position: relative;
    background-color: var(--primary-700-color);
    border-radius: 1.6rem;
    opacity: 0;
    overscroll-behavior: contain;
    grid-row-start: 1;
    grid-column-start: 1;
    width: 91.6667%;
    max-width: 51.2rem;
    max-height: 96vh;
    transition: translate .3s ease-out, scale .3s ease-out, opacity .2s ease-out 50ms, box-shadow .3s ease-out;
    overflow-y: auto;
    scale: 95%;
    box-shadow: 0 25px 50px -12px #00000040;
    display: flex;
    flex-direction: column;
  }


  .c-modal__box.alert {
    position: relative;
    background-color: var(--white-color);
    border-radius: 2rem;
    opacity: 0;
    overscroll-behavior: contain;
    grid-row-start: 1;
    grid-column-start: 1;
    width: 91.6667%;
    max-width: 51.2rem;
    max-height: 90vh;
    transition: translate .3s ease-out, scale .3s ease-out, opacity .2s ease-out 50ms, box-shadow .3s ease-out;
    overflow-y: auto;
    scale: 95%;
    box-shadow: 0 25px 50px -12px #00000040;
    display: flex;
    flex-direction: column;
  }

  .c-modal.shown .c-modal__box {
    opacity: 1;
    translate: 0;
    scale: 1;
  }

  .c-modal__box .c-modal__header {
    padding: 2.8rem 2rem 2.6rem;
  }

  .c-modal__box .c-modal__header h3 {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'GmarketSans';
    color: var(--white-color);
  }

  .c-modal__box .c-modal__cont {
    font-size: 1.6rem;
    color: var(--text-700-color);
    padding: 2rem;
    padding: 0 1.6rem 1.6rem;
  }

  .c-modal__box.alert .c-modal__cont {
    font-size: 1.6rem;
    color: var(--text-950-color);
    padding: 2.4rem 3.4rem;
    overflow-y: auto;
  }

  .c-modal__box .c-modal__cont .c-modal__inner {
    background-color: var(--white-color);
    border-radius: 1.2rem;
    padding: 1.6rem;
    overflow-y: auto;
    max-height: calc(96vh - 10.8rem);
  }

  .c-modal__box .c-modal__cont .c-modal__inner::-webkit-scrollbar {
    height: 6px;
  }

  /* 스크롤바의 폭 너비 */
  .c-modal__box .c-modal__cont .c-modal__inner::-webkit-scrollbar {
    width: 4px;
  }

  .c-modal__box .c-modal__cont .c-modal__inner::-webkit-scrollbar {
    width: 4px;
  }

  .c-modal__box .c-modal__cont .c-modal__inner::-webkit-scrollbar-thumb {
    background: rgba(216, 217, 213, 0.5);
    /* 스크롤바 색상 */
    border-radius: 10px;
    /* 스크롤바 둥근 테두리 */
  }

  .c-modal__box .c-modal__cont .c-modal__inner::-webkit-scrollbar-thumb {
    background: rgba(216, 217, 213, 0.5);
    /* 스크롤바 색상 */
    border-radius: 10px;
    /* 스크롤바 둥근 테두리 */
  }

  .c-modal__box .c-modal__cont .c-modal__inner::-webkit-scrollbar-track {
    background: rgba(220, 20, 60, 0.05);
    /*스크롤바 뒷 배경 색상*/
  }

  .c-modal__box .c-modal__cont .c-modal__inner::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
    /*스크롤바 뒷 배경 색상*/
  }

  .c-modal__box.alert .c-modal__cont .c-modal__inner {
    position: relative;
    padding: 3.8rem 0 0;

  }

  .c-modal__box.alert .c-modal__cont .c-modal__inner::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4.8rem;
    height: .6rem;
    background-color: var(--primary-700-color);
    border-radius: 5em;
  }


  .c-modal__box.alert .c-modal__cont .c-modal__inner > .txt {
    font-size: 1.6rem;
    color: var(--text-950-color);
    font-weight: 600;
    line-height: 1.4em;
    text-align: center;
    white-space: pre-line;
    word-break: keep-all;
  }

  .c-modal__box .c-modal__cont .form-outter-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .c-modal__box .c-modal__cont .cont-outter-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .c-modal__box .c-modal__cont .form-outter-box {
    padding: 2.4rem;
    background-color: #F3F2F8;
    border-radius: 1.2rem;
    width: 100%;
  }

  .c-modal__box .c-modal__cont .c-form .c-form__tit {
    width: 13rem;
  }

  .c-modal__box .c-modal__cont .c-form.c-form--horizontal .c-form__tit {
    width: auto;
  }

  .c-modal__box .c-modal__cont .c-form.c-form--horizontal {
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1.6rem;
    width: 100%;
  }

  @media (max-width: 1024px) {
    .c-modal__box .c-modal__cont .c-form.c-form--horizontal {
      flex-direction: column;
      gap: .8rem;
    }
  }

  @media (max-width: 540px) {
    .c-modal__box .c-modal__cont .c-form.c-form--horizontal {
      flex-direction: column;
    }

    .c-modal__box .c-modal__cont .c-form .c-form__tit label {
      height: auto;
    }
  }

  .c-modal__box .c-modal__cont .form-outter-box .c-form {
    padding-block: 1.8rem;
    border-bottom: .1rem solid var(--tertiary-200-color);
  }

  .c-modal__box .c-modal__cont .c-form:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }

  .c-modal__box .c-modal__cont .c-form:first-child {
    padding-top: 0;
  }

  .c-modal__box .c-modal__cont .c-btn-line {
    padding: 1.2rem 0;
  }
  
  .c-modal__box .c-modal__footer {
    justify-content: flex-end;
    gap: .8rem;
    padding: 2rem;
    display: flex;
  }

  .c-modal__box .c-modal__close {
    position: absolute;
    width: 4.4rem !important;
    height: 4.4rem !important;
    right: 1.2rem;
    top: 1.8rem;
  }

  .c-modal__box .c-modal__close i {
    font-size: 2.4rem !important;
  }

}