@import 'tailwindcss';

@layer components {
  /*
  ***************************************
  paging
  ***************************************
  */
  .cdf-paginate {
    margin: 2.6rem 0;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .cdf-paginate:last-child {
    margin: 2.6rem 0 1rem;
  }

  .cdf-paginate .cdf-paginate-first.disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  .cdf-paginate .cdf-paginate-first,
  .cdf-paginate .cdf-paginate-prev,
  .cdf-paginate .cdf-paginate-next,
  .cdf-paginate .cdf-paginate-last {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--paging-width);
    height: var(--paging-height);
    flex-shrink: 0;
  }

  .cdf-paginate .cdf-paginate-first i,
  .cdf-paginate .cdf-paginate-prev i,
  .cdf-paginate .cdf-paginate-next i,
  .cdf-paginate .cdf-paginate-last i {
    color: var(--primary-700-color);
    font-size: var(--paging-icon-size);
  }

  .cdf-paginate .cdf-paginate-first {
    margin-right: .4rem;
  }

  .cdf-paginate .cdf-paginate-prev {
    margin-right: 1rem;
  }

  .cdf-paginate .cdf-paginate-next {
    margin-left: 1rem;
  }

  .cdf-paginate .cdf-paginate-last {
    margin-left: .4rem;
  }

  .cdf-paginate .cdf-paginate-page { 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--paging-font-size);
    color: var(--text-400-color);
    font-weight: 600;
  }
  .cdf-paginate .cdf-paginate-page a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--paging-width);
    height: var(--paging-height);
    font-size: var(--paging-font-size);
    color: var(--text-400-color);
    font-weight: 600;
    text-decoration: none;
  }

  .cdf-paginate .cdf-paginate-page a.active {
    border-radius: .8rem;
    background-color: var(--primary-700-color);
    color: var(--surface-color);
  }

  .cdf-paginate.type02 {
    margin: 2.6rem 0;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .cdf-paginate.type02:last-child {
    margin: 2.6rem 0 0;
  }

  .cdf-paginate.type02 .cdf-paginate-first,
  .cdf-paginate.type02 .cdf-paginate-prev,
  .cdf-paginate.type02 .cdf-paginate-next,
  .cdf-paginate.type02 .cdf-paginate-last {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--paging2-btn-width);
    height: var(--paging2-btn-height);
    border: .1rem solid var(--primary-700-color);
    background-color: var(--surface-color);
    border-radius: var(--paging2-radius);
    transition: .3s;
  }

  .cdf-paginate.type02 .cdf-paginate-prev,
  .cdf-paginate.type02 .cdf-paginate-next {
    border: .1rem solid var(--primary-700-color);
    background-color: var(--primary-700-color);
  }

  .cdf-paginate.type02 .cdf-paginate-first:hover,
  .cdf-paginate.type02 .cdf-paginate-prev:hover,
  .cdf-paginate.type02 .cdf-paginate-next:hover,
  .cdf-paginate.type02 .cdf-paginate-last:hover {
    background-color: var(--primary-700-color);
  }

  .cdf-paginate.type02 .cdf-paginate-prev:hover,
  .cdf-paginate.type02 .cdf-paginate-next:hover {
    background-color: var(--surface-color);
  }

  .cdf-paginate.type02 .cdf-paginate-first i,
  .cdf-paginate.type02 .cdf-paginate-prev i,
  .cdf-paginate.type02 .cdf-paginate-next i,
  .cdf-paginate.type02 .cdf-paginate-last i {
    color: var(--primary-700-color);
    font-size: var(--paging2-icon-size) !important;
  }

  .cdf-paginate.type02 .cdf-paginate-prev i,
  .cdf-paginate.type02 .cdf-paginate-next i {
    color: var(--surface-color);
    font-size: var(--paging2-icon-size) !important;
  }

  .cdf-paginate.type02 .cdf-paginate-first:hover i,
  .cdf-paginate.type02 .cdf-paginate-prev:hover i,
  .cdf-paginate.type02 .cdf-paginate-next:hover i,
  .cdf-paginate.type02 .cdf-paginate-last:hover i {
    color: var(--surface-color);
  }

  .cdf-paginate.type02 .cdf-paginate-prev:hover i,
  .cdf-paginate.type02 .cdf-paginate-next:hover i {
    color: var(--primary-700-color);
  }

  .cdf-paginate.type02 .cdf-paginate-first {
    margin-right: .8rem;
  }

  .cdf-paginate.type02 .cdf-paginate-prev {
    margin-right: 3.6rem;
  }

  .cdf-paginate.type02 .cdf-paginate-next {
    margin-left: 3.6rem;
  }

  .cdf-paginate.type02 .cdf-paginate-last {
    margin-left: .8rem;
  }

  .cdf-paginate.type02 .cdf-paginate-page {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--paging2-font-size);
    color: var(--text-400-color);
    font-weight: 600;
  }

  .cdf-paginate.type02 .cdf-paginate-page a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--paging2-width);
    height: var(--paging2-height);
    font-size: var(--paging2-font-size);
    color: var(--text-300-color);
    font-weight: 600;
    text-decoration: none;
  }

  .cdf-paginate.type02 .cdf-paginate-page a.active {
    color: var(--primary-700-color);
    border-bottom: .1rem solid var(--primary-700-color);
    background-color: transparent;
    border-radius: 0;
  }

  .cdf-paginate.type02 .cdf-paginate-first.disabled,
  .cdf-paginate.type02 .cdf-paginate-first.disabled:hover,
  .cdf-paginate.type02 .cdf-paginate-last.disabled,
  .cdf-paginate.type02 .cdf-paginate-last.disabled:hover {   
    opacity: .5;
    cursor: not-allowed;
    background-color: var(--surface-color);
    border: .1rem solid var(--tertiary-900-color);
  }

  .cdf-paginate.type02 .cdf-paginate-first.disabled i,
  .cdf-paginate.type02 .cdf-paginate-first.disabled:hover i,
  .cdf-paginate.type02 .cdf-paginate-last.disabled i,
  .cdf-paginate.type02 .cdf-paginate-last.disabled:hover i {
    color: var(--tertiary-900-color);
  }

  .cdf-paginate.type02 .cdf-paginate-prev.disabled,
  .cdf-paginate.type02 .cdf-paginate-prev.disabled:hover,
  .cdf-paginate.type02 .cdf-paginate-next.disabled,
  .cdf-paginate.type02 .cdf-paginate-next.disabled:hover {
    opacity: .5;
    cursor: not-allowed;
    background-color: var(--tertiary-900-color);
    border: .1rem solid var(--surface-color);
  }

  .cdf-paginate.type02 .cdf-paginate-prev.disabled i,
  .cdf-paginate.type02 .cdf-paginate-prev.disabled:hover i,
  .cdf-paginate.type02 .cdf-paginate-next.disabled i,
  .cdf-paginate.type02 .cdf-paginate-next.disabled:hover i {
    color: var(--surface-color);
  }


  .cdf-paginate.mobile {
    display: inline-flex;
  }

  .cdf-paginate.mobile .cdf-paginate-page .current {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--paging-height);
    padding-inline: 1.6rem;
    font-size: var(--paging-font-size);
    color: var(--primary-700-color);
    font-weight: 700;
  }

  .cdf-paginate.mobile .cdf-paginate-page .total {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--paging-height);
    padding-inline: 1.6rem;
    font-size: var(--paging-font-size);
    color: var(--text-500-color);
    font-weight: 500;
  }

  .cdf-paginate.mobile .cdf-paginate-page input {
    width: 5rem;
  }

}