@layer components {
  /*
  ***************************************
  paging
  ***************************************
  */
  .c-paginate {
    padding: 2.6rem 0;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .c-paginate:last-child {
    padding: 2.6rem 0 1rem;
  }

  .c-paginate .c-paginate__first.is-disabled,
  .c-paginate .c-paginate__prev.is-disabled,
  .c-paginate .c-paginate__next.is-disabled,
  .c-paginate .c-paginate__last.is-disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  .c-paginate .c-paginate__first,
  .c-paginate .c-paginate__prev,
  .c-paginate .c-paginate__next,
  .c-paginate .c-paginate__last {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--paging-width);
    height: var(--paging-height);
    flex-shrink: 0;
  }

  .c-paginate .c-paginate__first i,
  .c-paginate .c-paginate__prev i,
  .c-paginate .c-paginate__next i,
  .c-paginate .c-paginate__last i {
    color: var(--primary-700-color);
    font-size: var(--paging-icon-size);
  }

  .c-paginate .c-paginate__first {
    margin-right: .4rem;
  }

  .c-paginate .c-paginate__prev {
    margin-right: 1rem;
  }

  .c-paginate .c-paginate__next {
    margin-left: 1rem;
  }

  .c-paginate .c-paginate__last {
    margin-left: .4rem;
  }

  .c-paginate .c-paginate__page { 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--paging-font-size);
    color: var(--text-400-color);
    font-weight: 600;
  }
  .c-paginate .c-paginate__page a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--paging-width);
    height: var(--paging-height);
    font-size: var(--paging-font-size);
    color: var(--text-400-color);
    font-weight: 600;
    text-decoration: none;
  }

  .c-paginate .c-paginate__page a.is-active {
    border-radius: .8rem;
    background-color: var(--primary-700-color);
    color: var(--surface-color);
  }

  .c-paginate--type02:last-child {
    padding: 2.6rem 0 0;
  }

  .c-paginate--type02 .c-paginate__first,
  .c-paginate--type02 .c-paginate__prev,
  .c-paginate--type02 .c-paginate__next,
  .c-paginate--type02 .c-paginate__last {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--paging2-btn-width);
    height: var(--paging2-btn-height);
    border: .1rem solid var(--primary-700-color);
    background-color: var(--surface-color);
    border-radius: var(--paging2-radius);
    transition: .3s;
  }

  .c-paginate--type02 .c-paginate__prev,
  .c-paginate--type02 .c-paginate__next {
    border: .1rem solid var(--primary-700-color);
    background-color: var(--primary-700-color);
  }

  .c-paginate--type02 .c-paginate__first:hover,
  .c-paginate--type02 .c-paginate__prev:hover,
  .c-paginate--type02 .c-paginate__next:hover,
  .c-paginate--type02 .c-paginate__last:hover {
    background-color: var(--primary-700-color);
  }

  .c-paginate--type02 .c-paginate__prev:hover,
  .c-paginate--type02 .c-paginate__next:hover {
    background-color: var(--surface-color);
  }

  .c-paginate--type02 .c-paginate__first i,
  .c-paginate--type02 .c-paginate__prev i,
  .c-paginate--type02 .c-paginate__next i,
  .c-paginate--type02 .c-paginate__last i {
    color: var(--primary-700-color);
    font-size: var(--paging2-icon-size) !important;
  }

  .c-paginate--type02 .c-paginate__prev i,
  .c-paginate--type02 .c-paginate__next i {
    color: var(--surface-color);
    font-size: var(--paging2-icon-size) !important;
  }

  .c-paginate--type02 .c-paginate__first:hover i,
  .c-paginate--type02 .c-paginate__prev:hover i,
  .c-paginate--type02 .c-paginate__next:hover i,
  .c-paginate--type02 .c-paginate__last:hover i {
    color: var(--surface-color);
  }

  .c-paginate--type02 .c-paginate__prev:hover i,
  .c-paginate--type02 .c-paginate__next:hover i {
    color: var(--primary-700-color);
  }

  .c-paginate--type02 .c-paginate__first {
    margin-right: .8rem;
  }

  .c-paginate--type02 .c-paginate__prev {
    margin-right: 3.6rem;
  }

  .c-paginate--type02 .c-paginate__next {
    margin-left: 3.6rem;
  }

  .c-paginate--type02 .c-paginate__last {
    margin-left: .8rem;
  }

  .c-paginate--type02 .c-paginate__page {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--paging2-font-size);
    color: var(--text-400-color);
    font-weight: 600;
  }

  .c-paginate--type02 .c-paginate__page a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--paging2-width);
    height: var(--paging2-height);
    font-size: var(--paging2-font-size);
    color: var(--text-300-color);
    font-weight: 600;
    text-decoration: none;
  }

  .c-paginate--type02 .c-paginate__page a.is-active {
    color: var(--primary-700-color);
    border-bottom: .1rem solid var(--primary-700-color);
    background-color: transparent;
    border-radius: 0;
  }

  .c-paginate--type02 .c-paginate__first.is-disabled,
  .c-paginate--type02 .c-paginate__first.is-disabled:hover,
  .c-paginate--type02 .c-paginate__last.is-disabled,
  .c-paginate--type02 .c-paginate__last.is-disabled:hover {   
    opacity: .5;
    cursor: not-allowed;
    background-color: var(--surface-color);
    border: .1rem solid var(--tertiary-900-color);
  }

  .c-paginate--type02 .c-paginate__first.is-disabled i,
  .c-paginate--type02 .c-paginate__first.is-disabled:hover i,
  .c-paginate--type02 .c-paginate__last.is-disabled i,
  .c-paginate--type02 .c-paginate__last.is-disabled:hover i {
    color: var(--tertiary-900-color);
  }

  .c-paginate--type02 .c-paginate__prev.is-disabled,
  .c-paginate--type02 .c-paginate__prev.is-disabled:hover,
  .c-paginate--type02 .c-paginate__next.is-disabled,
  .c-paginate--type02 .c-paginate__next.is-disabled:hover {
    opacity: .5;
    cursor: not-allowed;
    background-color: var(--tertiary-900-color);
    border: .1rem solid var(--surface-color);
  }

  .c-paginate--type02 .c-paginate__prev.is-disabled i,
  .c-paginate--type02 .c-paginate__prev.is-disabled:hover i,
  .c-paginate--type02 .c-paginate__next.is-disabled i,
  .c-paginate--type02 .c-paginate__next.is-disabled:hover i {
    color: var(--surface-color);
  }


  .c-paginate--mobile .c-paginate__page .current {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--paging-height);
    padding-inline: 1.6rem;
    font-size: var(--paging-font-size);
    color: var(--primary-700-color);
    font-weight: 700;
  }

  .c-paginate--mobile .c-paginate__page .total {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--paging-height);
    padding-inline: 1.6rem;
    font-size: var(--paging-font-size);
    color: var(--text-500-color);
    font-weight: 500;
  }

  .c-paginate--mobile .c-paginate__page input {
    width: 5rem;
  }

}