@layer components {
  /*
  **************************************
  select box
  **************************************
  */
  .c-select {
    position: relative;
    width: 100%;
    background-image: url(../../images/common/select_arrow_myicube.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--surface-color);
    border-width: .1rem;
    border-style: solid;
    border-color: var(--primary-400-color);
    font-family: inherit;
    color: var(--text-900-color);
    transition: .3s ease-in-out;
    height: var(--select-height-md);
    padding: 0 var(--select-padding-right-md) 0 var(--select-padding-left-md);
    background-position: center right 1rem;
    background-size: var(--select-arrow-size-md);
    border-radius: var(--select-radius-md);
    font-size: var(--select-font-size-md);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--select-radius-md);
  }

  .c-select:focus {
    outline: 0;
    border-color: var(--primary-500-color);
    box-shadow: 0 4px 4px 0px rgba(180, 161, 223, 0.2);
  }


  .c-select[readonly] {
    background-color: var(--tertiary-100-color);
    border-color: var(--tertiary-200-color);
    color: var(--text-300-color);
    background-image: url(../../images/common/select_arrow_disabled.svg);
    background-size: var(--selelct-arrow-size-md);
  }

  .c-select[disabled] {
    background-color: var(--tertiary-50-color);
    border-color: var(--tertiary-200-color);
    color: var(--text-300-color);
    cursor: not-allowed;
    background-image: url(../../images/common/select_arrow_disabled.svg);
    background-size: var(--select-arrow-size-md);
    opacity: 1;
  }

  .c-form--error .c-select {
    border-color: var(--warning-600-color);
    border-width: 2px;
  }
  .c-form--success .c-select {
    border-color: var(--success-600-color);
    border-width: 2px;
  }

  .c-select--xl {
    height: var(--select-height-xl);
    font-size: var(--select-font-size-xl);
    padding: 0 var(--select-padding-right-xl) 0 var(--select-padding-left-xl);
    border-radius: var(--select-radius-xl);
    font-weight: 500;
    background-size: var(--select-arrow-size-xl);
  }

  .c-select--lg {
    height: var(--select-height-lg);
    font-size: var(--select-font-size-lg);
    padding: 0 var(--select-padding-right-lg) 0 var(--select-padding-left-lg);
    border-radius: var(--select-radius-lg);
    background-size: var(--select-arrow-size-lg);
  }

  .c-select--md {
    height: var(--select-height-md);
    font-size: var(--select-font-size-md);
    padding: 0 var(--select-padding-right-md) 0 var(--select-padding-left-md);
    border-radius: var(--select-radius-md);
    background-size: var(--select-arrow-size-md);
  }

  .c-select--sm {
    height: var(--select-height-sm);
    font-size: var(--select-font-size-sm);
    padding: 0 var(--select-padding-right-sm) 0 var(--select-padding-left-sm);
    border-radius: var(--select-radius-sm);
    background-size: var(--select-arrow-size-sm);
  }

  .c-select--xs {
    height: var(--select-height-xs);
    font-size: var(--select-font-size-xs);
    padding: 0 var(--select-padding-right-xs) 0 var(--select-padding-left-xs);
    border-radius: var(--select-radius-xs);
    background-size: var(--select-arrow-size-xs);
  }

}

