/*
***************************************
toggle switch component styles
***************************************
*/
.cdf-form-toggle-switch {
  position: relative;
  display: inline-flex;
}

.cdf-form-toggle-switch input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.cdf-form-toggle-switch [type=checkbox]~label {
  display: inline-flex;
  align-items: center;
  gap: .8rem;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color:var(--text-900-color);
}

.cdf-form-toggle-switch [type=checkbox]~label .cdf-switch-toggle {
  position: relative;
  width: 4.8rem;
  height: 2.6rem;
  border-radius: var(--radius-pill);
  background-color: var(--tertiary-400-color);
  transition: .4s cubic-bezier(0.4, 0, 0.23, 1);
}

.cdf-form-toggle-switch [type=checkbox]~label .cdf-switch-toggle>i {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: var(--radius-max);
  background-color: var(--white-color);
  border: .2rem solid var(--tertiary-400-color);
  box-sizing: border-box;
  transition: .4s cubic-bezier(0.4, 0, 0.23, 1);
}

.cdf-form-toggle-switch [type=checkbox]:checked~label .cdf-switch-toggle {
  background-color: var(--primary-700-color);
}
[data-theme="dark"] .cdf-form-toggle-switch [type=checkbox]:checked~label .cdf-switch-toggle {
  background-color: var(--primary-300-color);
}

.cdf-form-toggle-switch [type=checkbox]:checked~label .cdf-switch-toggle>i {
  left: 2.2rem;
  border-color: var(--primary-700-color);
}
[data-theme="dark"] .cdf-form-toggle-switch [type=checkbox]:checked~label .cdf-switch-toggle>i {
  left: 2.2rem;
  border-color: var(--primary-300-color);
}


.cdf-form-toggle-switch [type=checkbox]:disabled~label .cdf-switch-toggle {
  background-color: #dcdcdc;
  cursor: not-allowed;
}

.cdf-form-toggle-switch [type=checkbox]:disabled~label .cdf-switch-toggle>i {
  background-color: #f5f5f5;
  border-color: #dcdcdc;
}