@layer components {
  /*
  ***************************************
  toggle switch component styles
  ***************************************
  */
  .c-switch {
    position: relative;
    display: inline-flex;
  }

  .c-switch input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .c-switch [type=checkbox]~label {
    display: inline-flex;
    align-items: center;
    gap: .8rem;
    font-size: var(--switch-font-size-md);
    line-height: 2.6rem;
    color: var(--text-900-color);
  }
  .c-switch--sm [type=checkbox]~label {
    font-size: var(--switch-font-size-sm);
    line-height: 2.2rem;
  }
  .c-switch--md [type=checkbox]~label {
    font-size: var(--switch-font-size-md);
    line-height: 2.6rem;
  }
  .c-switch--lg [type=checkbox]~label {
    font-size: var(--switch-font-size-lg);
    line-height: 3rem;
  }

  .c-switch [type=checkbox]~label .c-switch__toggle {
    position: relative;
    width: var(--switch-width-md);
    height: var(--switch-height-md);
    border-radius: var(--radius-pill);
    background-color: var(--tertiary-400-color);
    transition: .4s cubic-bezier(0.4, 0, 0.23, 1);
  }
  .c-switch--sm [type=checkbox]~label .c-switch__toggle {
    width: var(--switch-width-sm);
    height: var(--switch-height-sm);
  }
  .c-switch--md [type=checkbox]~label .c-switch__toggle {
    width: var(--switch-width-md);
    height: var(--switch-height-md);
  }
  .c-switch--lg [type=checkbox]~label .c-switch__toggle {
    width: var(--switch-width-lg);
    height: var(--switch-height-lg);
  }

  .c-switch [type=checkbox]~label .c-switch__toggle>i {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: var(--switch-toggle-size-md);
    height: var(--switch-toggle-size-md);
    border-radius: var(--radius-max);
    background-color: var(--white-color);
    border: .2rem solid var(--tertiary-400-color);
    box-sizing: border-box;
    transition: .4s cubic-bezier(0.4, 0, 0.23, 1);
  }
  .c-switch--sm [type=checkbox]~label .c-switch__toggle>i {
    width: var(--switch-toggle-size-sm);
    height: var(--switch-toggle-size-sm);
  }
  .c-switch--md [type=checkbox]~label .c-switch__toggle>i {
    width: var(--switch-toggle-size-md);
    height: var(--switch-toggle-size-md);
  }
  .c-switch--lg [type=checkbox]~label .c-switch__toggle>i {
    width: var(--switch-toggle-size-lg);
    height: var(--switch-toggle-size-lg);
  }

  .c-switch [type=checkbox]:checked~label .c-switch__toggle {
    background-color: var(--primary-700-color);
  }

  [data-theme="dark"] .c-switch [type=checkbox]:checked~label .c-switch__toggle {
    background-color: var(--primary-300-color);
  }

  .c-switch [type=checkbox]:checked~label .c-switch__toggle>i {
    left: var(--switch-move-distance-md);
    border-color: var(--primary-700-color);
  }
  .c-switch--sm [type=checkbox]:checked~label .c-switch__toggle>i {
    left: var(--switch-move-distance-sm);
  }
  .c-switch--md [type=checkbox]:checked~label .c-switch__toggle>i {
    left: var(--switch-move-distance-md);
  }
  .c-switch--lg [type=checkbox]:checked~label .c-switch__toggle>i {
    left: var(--switch-move-distance-lg);
  }

  [data-theme="dark"] .c-switch [type=checkbox]:checked~label .c-switch__toggle>i {
    left: var(--switch-move-distance-md);
    border-color: var(--primary-300-color);
  }
  [data-theme="dark"] .c-switch--sm [type=checkbox]:checked~label .c-switch__toggle>i {
    left: var(--switch-move-distance-sm);
  }
  [data-theme="dark"] .c-switch--md [type=checkbox]:checked~label .c-switch__toggle>i {
    left: var(--switch-move-distance-md);
  }
  [data-theme="dark"] .c-switch--lg [type=checkbox]:checked~label .c-switch__toggle>i {
    left: var(--switch-move-distance-lg);
  }


  .c-switch [type=checkbox]:disabled~label .c-switch__toggle {
    background-color: #dcdcdc;
    cursor: not-allowed;
  }

  .c-switch [type=checkbox]:disabled~label .c-switch__toggle>i {
    background-color: #f5f5f5;
    border-color: #dcdcdc;
  }
}

