@layer components {
	/*
	***************************************
	Heading Style
	***************************************
	*/
	.c-h1 {		
		font-size:var(--h1-font-size-mobile);
		font-weight: 800;
		color:var(--text-950-color);
	}	
	@media (min-width: 768px) {
		.c-h1 {
			font-size:var(--h1-font-size);
			font-weight: 700;
		}
	}
	.c-h2 {		
		font-size:var(--h2-font-size-mobile);
		font-weight: 800;
		color:var(--text-950-color);
	}
	@media (min-width: 768px) {
		.c-h2 {
			font-size:var(--h2-font-size);
			font-weight: 700;
		}
	}
	.c-h3 {
		font-size:var(--h3-font-size-mobile);
		font-weight: 800;
		color:var(--text-950-color);
	}
	@media (min-width: 768px) {
		.c-h3 {
			font-size:var(--h3-font-size);
			font-weight: 700;
		}
	}
	.c-h4 {
		font-size:var(--h4-font-size-mobile);
		font-weight: 800;
		color:var(--text-950-color);
	}
	@media (min-width: 768px) {
		.c-h4 {
			font-size:var(--h4-font-size);
			font-weight: 700;
		}
	}
	.c-h5 {
		font-size: var(--h5-font-size-mobile);
		font-weight: 800;
		color: var(--text-950-color);
	}	
	@media (min-width: 768px) {
		.c-h5 {
			font-size: var(--h5-font-size);
			font-weight: 700;
		}
	}
	.c-h6 {
		font-size: var(--h6-font-size-mobile);
		font-weight: 800;
		color: var(--text-950-color);
	}	
	@media (min-width: 768px) {
		.c-h6 {
			font-size: var(--h6-font-size);
			font-weight: 700;
		}
	}


	/*
	***************************************
	List Style
	***************************************
	*/	
	.c-list-title {
		font-size:1.6rem;
		font-weight:800;
		color:var(--text-900-color);
		line-height:1.4em;
	}

	.c-list-style {
		display: flex;
		flex-direction: column;
		gap:.8rem;
		align-items: flex-start;
		width: 100%;
	}

	.c-list-style li {
		position: relative;
		gap: .6rem;
		width:100%;
		font-size: 1.4rem;
		color: var(--text-800-color);
		line-height: 1.4em;
		padding-left:1rem;
	}

	.c-list-style li::before {
		content:'';
		display: inline-block;
		width: .4rem;
		height: .4rem;
		border-radius: var(--radius-max);
		background-color: var(--primary-400-color);
		position:absolute;
		left:0;
		top:.7rem;
	}

	.c-text {
		font-size:1.4rem;
		line-height: 1.4em;
		color:var(--text-800-color)
	}


	/*
	**************************************
	information text
	**************************************
	*/
	.c-information-text {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: row;
		gap: .4rem;
		width: 100%;
		font-size: 1.4rem;
		color: var(--tertiary-900-color);
		line-height: 1.4em;
		margin-top: 2rem;
	}

	.c-information-text::before {	
		content:'!';
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: 1.3rem;
		color: var(--white-color);
		font-weight: 700;
		background-color: var(--primary-500-color);
		width: 2rem;
		height: 2rem;
		border-radius: var(--radius-max);
		flex-shrink: 0;
	}

	.c-information-text.center {
		justify-content: center;
	}
}