@layer components {
	/*
	***************************************
	Heading Style
	***************************************
	*/
	.c-h1 {
		@apply text-[length:var(--h1-font-size-mobile)] 
		font-extrabold 
		text-[var(--text-950-color)]
		md:text-[length:var(--h1-font-size)] 
		md:font-bold;
	}	
	.c-h2 {
		@apply text-[length:var(--h2-font-size-mobile)] 
		font-extrabold 
		text-[var(--text-950-color)]
		md:text-[length:var(--h2-font-size)]
		md:font-bold;
	}
	.c-h3 {
		@apply text-[length:var(--h3-font-size-mobile)] 
		font-extrabold 
		text-[var(--text-950-color)]
		md:text-[length:var(--h3-font-size)]
		md:font-bold;
	}
	.c-h4 {
		@apply text-[length:var(--h4-font-size-mobile)] 
		font-extrabold 
		text-[var(--text-950-color)]
		md:text-[length:var(--h4-font-size)] 
		md:font-bold;
	}
	.c-h5 {
		@apply text-[length:var(--h5-font-size-mobile)] 
		font-extrabold 
		text-[var(--text-950-color)]
		md:text-[length:var(--h5-font-size)] 
		md:font-bold;
	}	
	.c-h6 {
		@apply text-[length:var(--h6-font-size-mobile)] 
		font-extrabold 
		text-[var(--text-950-color)]
		md:text-[length:var(--h6-font-size)] 
		md:font-bold;
	}	


	/*
	***************************************
	List Style
	***************************************
	*/	
	.c-list-title {
		@apply text-[length:2rem] 
		font-extrabold 
		text-[var(--text-900-color)] 
		leading-[1.2em];
	}

	.c-list-style {
		@apply flex 
		flex-col 
		gap-2 
		items-start 
		w-full 
		mt-[1.6rem];
	}

	.c-list-style li {
		@apply flex 
		items-start 
		gap-[.6rem] 
		w-full 
		text-[length:1.6rem] 
		text-[var(--text-800-color)] 
		leading-[1.4em]		
	}

	.c-list-style li::before {
		@apply content-[''] 
		inline-block 
		w-1 
		h-1 
		rounded-[var(--radius-max)] 
		bg-[var(--primary-400-color)] 
		mt-2;
	}


	/*
	**************************************
	information text
	**************************************
	*/
	.c-information-text {
		@apply flex 
		items-start 
		justify-start
		flex-row
		gap-1 
		w-full 
		text-[length:1.4rem] 
		text-[var(--tertiary-900-color)]
		leading-[1.4em]
		mt-5;
	}

	.c-information-text::before {		
		@apply content-['!'] 
		inline-flex 
		items-center 
		justify-center 
		text-[length:1.3rem]
		text-[var(--white-color)]
		font-bold
		bg-[var(--primary-500-color)]
		w-5 
		h-5 
		rounded-[var(--radius-max)]
		shrink-0;
	}

	.c-information-text.center {
		@apply justify-center;
	}
}