@layer components {
	/*
	***************************************
	Heading Style
	***************************************
	*/
	.c-h1 {		
		font-size:var(--h1-font-size-mobile);
		font-weight: 800;
		color:var(--text-950-color);
		@apply md:text-[length:var(--h1-font-size)] md:font-bold;
	}	
	.c-h2 {
		@apply text-[length:var(--h2-font-size-mobile)] 
		font-extrabold 
		text-[var(--text-950-color)]
		md:text-[length:var(--h2-font-size)]
		md:font-bold;
	}
	.c-h3 {
		@apply text-[length:var(--h3-font-size-mobile)] 
		font-extrabold 
		text-[var(--text-950-color)]
		md:text-[length:var(--h3-font-size)]
		md:font-bold;
	}
	.c-h4 {
		@apply text-[length:var(--h4-font-size-mobile)] 
		font-extrabold 
		text-[var(--text-950-color)]
		md:text-[length:var(--h4-font-size)] 
		md:font-bold;
	}
	.c-h5 {
		@apply text-[length:var(--h5-font-size-mobile)] 
		font-extrabold 
		text-[var(--text-950-color)]
		md:text-[length:var(--h5-font-size)] 
		md:font-bold;
	}	
	.c-h6 {
		@apply text-[length:var(--h6-font-size-mobile)] 
		font-extrabold 
		text-[var(--text-950-color)]
		md:text-[length:var(--h6-font-size)] 
		md:font-bold;
	}	


	/*
	***************************************
	List Style
	***************************************
	*/	
	.c-list-title {
		@apply text-[length:1.6rem] 
		font-extrabold 
		text-[var(--text-900-color)] 
		leading-[1.4em];
	}

	.c-list-style {
		display: flex;
		flex-direction: column;
		gap:.8rem;
		align-items: flex-start;
		width: 100%;
	}

	.c-list-style li {
		position: relative;
		gap: .6rem;
		width:100%;
		font-size: 1.4rem;
		color: var(--text-800-color);
		line-height: 1.4em;
		padding-left:1rem;
	}

	.c-list-style li::before {
		content:'';
		display: inline-block;
		width: .4rem;
		height: .4rem;
		border-radius: var(--radius-max);
		background-color: var(--primary-400-color);
		position:absolute;
		left:0;
		top:.7rem;
	}

	.c-text {
		font-size:1.4rem;
		line-height: 1.4em;
		color:var(--text-800-color)
	}


	/*
	**************************************
	information text
	**************************************
	*/
	.c-information-text {
		@apply flex 
		items-start 
		justify-start
		flex-row
		gap-1 
		w-full 
		text-[length:1.4rem] 
		text-[var(--tertiary-900-color)]
		leading-[1.4em]
		mt-5;
	}

	.c-information-text::before {		
		@apply content-['!'] 
		inline-flex 
		items-center 
		justify-center 
		text-[length:1.3rem]
		text-[var(--white-color)]
		font-bold
		bg-[var(--primary-500-color)]
		w-5 
		h-5 
		rounded-[var(--radius-max)]
		shrink-0;
	}

	.c-information-text.center {
		@apply justify-center;
	}
}