/*
***************************************
tooltip
***************************************
*/
.cdf-tooltip-popover {
  display: none;
  position: fixed;
  z-index: 1;
  white-space: nowrap;
  font-size: 1.4rem;
  border-radius: .6rem;
  padding: .8rem 1.2rem;
  color: var(--white-color);
  background-color: var(--primary-700-color);
  top: 0;
  left: 0;
}

.cdf-tooltip-popover.active {
  display: block;
}

.cdf-tooltip-popover::before {
  --tooltip-arrow-size: .8rem;
  --tooltip-arrow-gap: calc((var(--tooltip-arrow-size) / 2) * -1);
  content: '';
  width: var(--tooltip-arrow-size);
  height: var(--tooltip-arrow-size);
  display: block;
  position: absolute;
  background-color: var(--primary-700-color);
  left: var(--tooltip-arrow-gap);
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.cdf-tooltip-popover.right::before {
  left: calc(100% + var(--tooltip-arrow-gap));
}

.cdf-tooltip-popover.bottom::before,
.cdf-tooltip-popover.top::before {
  top: calc(100% + var(--tooltip-arrow-gap));
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.cdf-tooltip-popover.bottom::before {
  top: var(--tooltip-arrow-gap);
}

.cdf-tooltip-popover.cdf-tooltip-box {
  white-space: normal;
  max-width: 36rem;
  border: .1rem solid var(--tertiary-500-color);
  border-radius: .8rem;
  padding: 1.6rem 2rem;
  line-height: 1.4em;
  color: var(--text-700-color);
  background-color: var(--white-color);
}

.cdf-tooltip-popover.cdf-tooltip-box::before {
  --tooltip-arrow-size: 1.2rem;
  border: .1rem solid var(--tertiary-500-color);
  border-top-color: transparent;
  border-left-color: transparent;
  background-color: var(--white-color);
}

.cdf-tooltip-popover.cdf-tooltip-box.bottom::before {
  transform: translateX(-50%) rotate(-135deg);
}