@layer components {
  /*
  ***************************************
  tooltip
  ***************************************
  */
  .c-tooltip-popover {
    display: none;
    position: fixed;
    z-index: 1;
    white-space: nowrap;
    font-size: var(--tooltip-font-size);
    border-radius: var(--tooltip-radius);
    padding: var(--tooltip-padding-block) var(--tooltip-padding-inline);
    color: var(--white-color);
    background-color: var(--primary-700-color);
    top: 0;
    left: 0;
  }

  .c-tooltip-popover.active {
    display: block;
  }

  .c-tooltip-popover::before {
    content: '';
    width: var(--tooltip-arrow-size);
    height: var(--tooltip-arrow-size);
    display: block;
    position: absolute;
    background-color: var(--primary-700-color);
    left: var(--tooltip-arrow-gap);
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .c-tooltip-popover.right::before {
    left: calc(100% + var(--tooltip-arrow-gap));
  }

  .c-tooltip-popover.bottom::before,
  .c-tooltip-popover.top::before {
    top: calc(100% + var(--tooltip-arrow-gap));
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }

  .c-tooltip-popover.bottom::before {
    top: var(--tooltip-arrow-gap);
  }

  .c-tooltip-popover.c-tooltip-box {
    white-space: normal;
    max-width: 36rem;
    border: .1rem solid var(--tertiary-500-color);
    border-radius: var(--tooltip-radius);
    padding: var(--tooltipbox-padding-block) var(--tooltipbox-padding-inline);
    line-height: 1.4em;
    color: var(--text-700-color);
    background-color: var(--white-color);
  }

  .c-tooltip-popover.c-tooltip-box::before {
    width: var(--tooltipbox-arrow-size);
    height: var(--tooltipbox-arrow-size);
    border: .1rem solid var(--tertiary-500-color);
    border-top-color: transparent;
    border-left-color: transparent;
    background-color: var(--white-color);
    top: calc(100% + var(--tooltipbox-arrow-gap));
    transform: translateX(-50%) rotate(45deg);
  }

  .c-tooltip-popover.c-tooltip-box.bottom::before {
    transform: translateX(-50%) rotate(-135deg);
  }
}

