@import 'tailwindcss';

@layer base {
  html {
    font-size:10px;
  }
  
  @font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('./fonts/PretendardVariable.woff2') format('woff2-variations');
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"), url("./fonts/Pretendard-Black.subset.woff2") format("woff2"), url("./fonts/Pretendard-Black.subset.woff") format("woff");
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"), url("./fonts/Pretendard-ExtraBold.subset.woff2") format("woff2"), url("./fonts/Pretendard-ExtraBold.subset.woff") format("woff");
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"), url("./fonts/Pretendard-Bold.subset.woff2") format("woff2"), url("./fonts/Pretendard-Bold.subset.woff") format("woff");
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"), url("./fonts/Pretendard-SemiBold.subset.woff2") format("woff2"), url("./fonts/Pretendard-SemiBold.subset.woff") format("woff");
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"), url("./fonts/Pretendard-Medium.subset.woff2") format("woff2"), url("./fonts/Pretendard-Medium.subset.woff") format("woff");
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"), url("./fonts/Pretendard-Regular.subset.woff2") format("woff2"), url("./fonts/Pretendard-Regular.subset.woff") format("woff");
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"), url("./fonts/Pretendard-Light.subset.woff2") format("woff2"), url("./fonts/Pretendard-Light.subset.woff") format("woff");
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"), url("./fonts/Pretendard-ExtraLight.subset.woff2") format("woff2"), url("./fonts/Pretendard-ExtraLight.subset.woff") format("woff");
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"), url("./fonts/Pretendard-Thin.subset.woff2") format("woff2"), url("./fonts/Pretendard-Thin.subset.woff") format("woff");
  }

  @font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-display: swap;
    src: local("GmarketSans Bold"), url("./fonts/GmarketSansBold.woff2") format("woff2"), url("./fonts/GmarketSansBold.woff") format("woff");
  }
  @font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-display: swap;
    src: local("GmarketSans Medium"), url("./fonts/GmarketSansMedium.woff2") format("woff2"), url("./fonts/GmarketSansMedium.woff") format("woff");
  }
  @font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-display: swap;
    src: local("GmarketSans Light"), url("./fonts/GmarketSansLight.woff2") format("woff2"), url("./fonts/GmarketSansLight.woff") format("woff");
  }

  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-variation-settings: 'FILL' 0,
      'wght' 300,
      'GRAD' 0,
      'opsz' 24;
    line-height: 1;
  }

  .material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-variation-settings: 'FILL' 0,
      'wght' 300,
      'GRAD' 0,
      'opsz' 24;
    line-height: 1;
  }

  body {
    font-family: 'Pretendard Variable', 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';    
    line-height: 1;
    font-size:1.4rem;
  }

  caption,
  legend {
    font-size: 0;
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
  }

  .c-scrollbar {
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 0px;
  }
  .c-scrollbar.horizontal {
    width: auto;
    min-height: auto;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 4px;
  }
  @media (min-width: 1280px) {
    .c-scrollbar.horizontal::-webkit-scrollbar {
      height: 6px;
    }
    .c-scrollbar2.horizontal::-webkit-scrollbar {
      height: 6px;
    }
    /* 스크롤바의 폭 너비 */
    .c-scrollbar::-webkit-scrollbar {
      width: 4px;
    }
    .c-scrollbar2::-webkit-scrollbar {
      width: 4px;
    }
    .c-scrollbar::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.3);
      /* 스크롤바 색상 */
      border-radius: 10px;
      /* 스크롤바 둥근 테두리 */
    }
    .c-scrollbar2::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.3);
      /* 스크롤바 색상 */
      border-radius: 10px;
      /* 스크롤바 둥근 테두리 */
    }
    .c-scrollbar::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
      /*스크롤바 뒷 배경 색상*/
    }
    .c-scrollbar2::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
      /*스크롤바 뒷 배경 색상*/
    }
  }

  /*
  **************************************
  information text
  **************************************
  */
  .c-information-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: .4rem;
    width: 100%;
    font-size: 1.4rem;
    color: var(--tertiary-900-color);
    line-height: 1.4em;
  }

  .c-information-text::before {
    content: '!';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 700;
    background-color: var(--primary-500-color);
    width: 2rem;
    height: 2rem;
    border-radius: var(--radius-max);
    flex-shrink: 0;
  }

  .c-information-text.center {
    justify-content: center;
  }

  i {
    font-style: normal;
  }

  label,
  button {
    cursor: pointer;
  }

  /*
  **************************************
  radius
  **************************************
  */
  .radius-pill {
    border-radius: var(--radius-pill) !important;
  }

  .radius-max {
    border-radius: var(--radius-max) !important;
  }
  
}




