@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200") layer(base);
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200") layer(base);

@import 'tailwindcss';

@import './base.css';
@import './token.css';
@import './layout.css';
@import './util.css';
@import './components/form.css';
@import './components/text.css';
@import './components/button.css';
@import './components/select.css';
@import './components/input.css';
@import './components/radio.css';
@import './components/paging.css';
@import './components/switch.css';
@import './components/label.css';
@import './components/tooltip.css';
@import './components/accordion.css';
@import './components/table.css';
@import './components/modal.css';
@import './components/etc.css';