.style-guide-wrap{
	position: relative;
	width:100%;
	height: 100vh;
	background: var(--background-color);
	overflow: hidden;
}
.style-guide-wrap .left-menu-zone {
	position:absolute;
	top:0;
	left:0;
	width:28rem;
	height: 100%;
	background-color:var(--primary-700-color);
}
@media (max-width: 1024px) {
	.style-guide-wrap .left-menu-zone {
		left:-28rem;
	}
}
.style-guide-wrap .left-menu-zone .logo {
	position:absolute;
	top:0;
	left:0;
	width: 28rem;
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
	background-color:var(--primary-700-color);
	z-index: 2;
}
@media (max-width: 1024px) {
	.style-guide-wrap .left-menu-zone .logo {
		left:-28rem;
	}
}
.style-guide-wrap .left-menu-zone .logo h1 {
	font-size:2.8rem;
	color:var(--white-color);
	font-weight: 700;
}
.style-guide-wrap .left-menu-zone .logo .btn-menu {
	position:absolute;
	left:2rem;
	top:.8rem;
	color: var(--white-color);
	display: none;
}
.style-guide-wrap .left-menu-zone nav {
	position: absolute;
	top: 6rem;
	height:calc(100vh - 6rem);
	width: 100%;
	z-index: 1;
	overscroll-behavior: none;
}
.style-guide-wrap .left-menu-zone summary.group {
	display: grid;
	grid-auto-flow: column;
	align-content: flex-start;
	align-items: center;
	grid-auto-columns: max-content auto auto;
	font-size: 1.8rem;
	gap: 1rem;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	user-select: none;
	padding: .8rem 3rem;
}
.style-guide-wrap .left-menu-zone details summary.group {
	padding-top:2rem;
}
.style-guide-wrap .left-menu-zone details:first-child summary.group {
	padding-top:3rem;
}
.style-guide-wrap .left-menu-zone details summary.group::before {
	justify-self: end;
	display: block;
	font-family: 'Material Symbols Rounded';
	content: '\e313';
	font-size: 1.4rem;
	color: #fff;
}
.style-guide-wrap .left-menu-zone details[open] summary.group::before {
	justify-self: end;
	display: block;
	font-family: 'Material Symbols Rounded';
	content: '\e316';
	font-size: 1.4rem;
	color: #fff;
}
.style-guide-wrap .left-menu-zone ul {
	padding:1.8rem 3rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.style-guide-wrap .left-menu-zone ul li {
	color:var(--white-color);
	font-size: 1.6rem;
}
.style-guide-wrap .left-menu-zone ul li a {	
	display:inline-block;
	width:100%;
	padding:1rem 2.4rem;
	color:var(--white-color);
	font-size: 1.4rem;
	border-radius: var(--radius-pill);
	transition:.3s;
}
.style-guide-wrap .left-menu-zone ul li a:hover {
	color:var(--caution-400-color);
}
.style-guide-wrap .left-menu-zone ul li a.router-link-active {
	background-color: var(--caution-300-color);
	color: var(--text-900-color);
	font-weight:600;
}
.style-guide-wrap .theme-sel {
	height: 6rem;
	width:28rem;
	position:absolute;
	bottom:0;
	right:0;
	z-index:2;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding-left:5rem;
}
@media (max-width: 1024px) {
	.style-guide-wrap .theme-sel {
		left:-28rem;
	}
}

.style-guide-wrap  .theme-sel label {
	font-size:1.4rem;
	color: var(--text-800-color);
}

.style-guide-wrap .right-top {
	position:fixed;
	top:0;
	margin-left:28rem;
	height:6rem;
	width: calc(100% - 28rem);	
	z-index: 10;
	box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.1);
}
.style-guide-wrap .right-top .liquidGlass-effect {
	position: absolute;
	z-index: 0;
	inset: 0;
	backdrop-filter: blur(3px);
	overflow: hidden;
	isolation: isolate;
}
.style-guide-wrap .right-top .liquidGlass-tint {
	z-index: 1;
	position: absolute;
	inset: 0;
	background: rgba(255, 255, 255, 0.45);
}
.style-guide-wrap .right-top .liquidGlass-shine {
	position: absolute;
	inset: 0;
	z-index: 2;
	overflow: hidden;
	box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}


.style-guide-wrap .right-cont-zone {
	margin-left:28rem;
	padding:10rem 6rem 4rem;
	max-height: 100vh;
}
@media (max-width: 1024px) {
	.style-guide-wrap .right-cont-zone {
		margin-left:0;
		padding:4rem 2rem;
	}
}
.style-guide-wrap .right-cont-zone .page-title-wrap {
	display: flex;
	align-items: center;
}
.style-guide-wrap .right-cont-zone .h-tit {
	margin-left:28rem;
	padding:2rem 6rem;
}
.style-guide-wrap .right-cont-zone .cont-zone-wrap {
	margin-top:8rem;
}
.style-guide-wrap .right-cont-zone .cont-zone-wrap .conts-area {
	margin-top:4rem;
	display: flex;
	flex-direction: column;
	gap:2rem;
}

.style-guide-wrap .right-cont-zone .tab-list {
	position: relative;
  display: flex;
  margin-bottom: -1px;
}

.style-guide-wrap .right-cont-zone .tab-list .tab-list-item {
	position: relative;
	z-index: 1;
	padding: 1rem;
	min-width: 10rem;
	text-align: center;
	font-size: 1.4rem;
	color: var(--text-800-color);
	border-width: 0;
	background-color: transparent;
}
.style-guide-wrap .right-cont-zone .tab-list .tab-list-item.on {
	border: 1px solid var(--tertiary-200-color);
	border-bottom: 1px solid var(--surface-color);
	border-top-left-radius: .6rem;
	border-top-right-radius: .6rem;
	background-color: var(--surface-color);
	
}
.style-guide-wrap .right-cont-zone .cont-zone-wrap .conts-area .tabs > .tab-conts {
	border: 1px solid var(--tertiary-200-color);
	border-radius: .6rem;
	border-top-left-radius: 0;
	background-color: var(--surface-color);
	overflow: hidden;
}
.style-guide-wrap .right-cont-zone .tab-panel {
	display: none;
  padding: 2rem;
}
.style-guide-wrap .right-cont-zone .tab-panel.on {
	display: flex;
	flex-direction: column;
	gap: 1px;
}
.style-guide-wrap .right-cont-zone .tab-panel .clipboard {
	padding: .8rem 2rem;
	width: 100%;
	background-color: var(--primary-900-color);
	color: var(--white-color);
	font-size: 1.4rem;
}
.style-guide-wrap .right-cont-zone .tab-panel .vue-codemirror {
	width: 100%;
	height: 100%;
	/* background-color: var(--text-600-color);
	color:var(--white-color); */
	font-size: 1.4rem;
}
.style-guide-wrap .right-cont-zone .tab-panel .container {
	display: flex;
	align-items: center;
	gap:.6rem;
	width: 100%;
	max-width:100% !important
}
.style-guide-wrap .right-cont-zone .tab-panel .container.normal {
	display: block;
}
.style-guide-wrap .right-cont-zone .tab-panel .container.column {
	flex-direction: column;
	align-items: flex-start;
	gap:3rem;
}
.style-guide-wrap .right-cont-zone .tab-panel .container .btn-wrap {
	padding:2rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	background-color: var(--tertiary-500-color);
}
.style-guide-wrap .right-cont-zone .tab-panel .box-border {
	padding:1.4rem .8rem;
	border:.1rem dashed var(--tertiary-300-color);
	font-size:1.4rem;
	background-color: var(--tertiary-50-color);
}
.style-guide-wrap .right-cont-zone .tab-panel .outer-wrap {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	gap: var(--ide-gap-7);
	width: 100%;
}
.style-guide-wrap .right-cont-zone .ex-list {
	position: relative;
	margin: 0;
	padding: 0;
}
.style-guide-wrap .right-cont-zone .ex-list > li {
	position: relative;
	margin: 8px 0;
	display: flex;
	align-items: center;
	padding-left: 10px;
	gap: 6px;
	font-size: 1.4rem;
}
.style-guide-wrap .right-cont-zone .ex-list > li::before {
	display: inline-block;
	content: '';
	width: 4px;
	height: 4px;
	background-color: var(--text-950-color);
	border-radius: 50%;
}
.style-guide-wrap .right-cont-zone .cont-txt {
	font-size: 1.4rem;
}

.style-guide-wrap .option-menu-zone {
	position: absolute;
	top: 0;
	right: -30rem;
	width: 28rem;
	height: 100%;
	z-index: 10;
	box-shadow: 4px 0 16px 0 rgba(0, 0, 0, 0.1);
	transition:.3s;
}
.style-guide-wrap .option-menu-zone.active {
	right: 0;
}
.style-guide-wrap .option-menu-zone .liquidGlass-effect {
	position: absolute;
	z-index: 0;
	inset: 0;
	backdrop-filter: blur(3px);
	overflow: hidden;
	isolation: isolate;
}
.style-guide-wrap .option-menu-zone .liquidGlass-tint {
	z-index: 1;
	position: absolute;
	inset: 0;
	background: rgba(255, 255, 255, 0.45);
}
.style-guide-wrap .option-menu-zone .liquidGlass-shine {
	position: absolute;
	inset: 0;
	z-index: 2;
	overflow: hidden;
	box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}
.style-guide-wrap .option-menu-zone .option-inner {
	position: relative;
	z-index: 3;
	padding: 4rem 2.6rem 2rem;
}
.style-guide-wrap .option-menu-zone .option-inner .c-check__chip {
	width: 100%;
}
.style-guide-wrap .option-menu-zone .option-inner .c-check__chip__outline {
	width: 100%;
	justify-content: center;
}
.style-guide-wrap .option-menu-zone .option-inner .c-check__chip__outline::after {
	display: none;
}
.style-guide-wrap .option-menu-zone .option-inner .c-check__chip input[type="radio"]:checked + .c-check__chip__outline::before {
	content: '\e5ca';
	color: var(--white-color);
	font-size: 1.6rem;
	font-family: 'Material Symbols Rounded';
}
.style-guide-wrap .option-menu-zone .option-inner .c-check__chip .c-check__chip__outline {
	border:.1rem solid var(--tertiary-500-color);
	color:var(--tertiary-500-color);	
}
.style-guide-wrap .option-menu-zone .option-inner .c-check__chip.basic input[type="radio"]:checked+.c-check__chip__outline {
	border: .1rem solid var(--primary-600-color);
	color: var(--white-color);
	background-color: var(--primary-600-color);
}
.style-guide-wrap .option-menu-zone .option-inner .c-check__chip.vortal input[type="radio"]:checked+.c-check__chip__outline {
	border: .1rem solid var(--tertiary-600-color);
	color: var(--white-color);
	background-color: var(--tertiary-600-color);
}
.style-guide-wrap .option-menu-zone .option-inner .c-check__chip.istation input[type="radio"]:checked+.c-check__chip__outline {
	border: .1rem solid var(--secondary-600-color);
	color: var(--white-color);
	background-color: var(--secondary-600-color);
}
.style-guide-wrap .option-menu-zone .option-inner .c-check__chip.pad input[type="radio"]:checked+.c-check__chip__outline {
	border: .1rem solid var(--pad-600-color);
	color: var(--white-color);
	background-color: var(--pad-600-color);
}
.style-guide-wrap .option-menu-zone .btn-close {
	position: absolute;
	top: 2rem;
	right: 2rem;
	z-index: 4;
	color: var(--text-900-color);
}

.style-guide-wrap .btn-setting {
	position:fixed;
	top: 3rem;
	right: 3rem;
	z-index: 10;
	
}
.style-guide-wrap .btn-setting.close {
	display: none;
}