@layer utilities {
  	/*
	************************************
	btn-line
	************************************
	*/
  .c-btn-line {
    @apply flex items-center gap-[.6rem] w-full py-5 px-0;
  }

  .c-btn-line:last-child {
    @apply pt-5 pr-0 pb-0 pl-0;
  }

  .c-btn-line.space-line {
    @apply border-t 
    border-dashed 
    border-[var(--tertiary-300-color)];
  }

  .c-btn-line .c-btn-line-inner {
    @apply flex items-center gap-[.6rem];
  }

  .c-btn-line.top-border {
    @apply pt-5
    border-t 
    border-solid 
    border-[var(--tertiary-500-color)];
  }

  .c-btn-line.center {
    @apply justify-center;
  }

  .c-btn-line.right {
    @apply justify-end;
  }

  .c-btn-line.left {
    @apply justify-start;
  }

  .c-btn-line.space-between {
    @apply justify-between;
  }

  .c-btn-line.space-around {
    @apply justify-around;
  }

  .c-btn-line.space-evenly {
    @apply justify-evenly;
  }

  .c-btn-line.full button {
    flex: 1 1 0;
  }
}